<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: 'About Us'}) %>
    <body class="p-0">
      <header>
        <%- include('../partials/navbar.ejs') %> <%- include('login')%>
         <%- include('register')%>
      </header>

      <section id="about" class="pt-4">
        <div class="header">
          <h2>About Us</h2>
          <img class="petik" src="/images/default/bxs_quote-alt-right.png">
          <div class="caption">
            <p class="caption-text" >Eventprise merupakan penyedia jasa profesional dalam penyelenggaraan berbagai acara perusahaan. <br> Kami mampu memberikan pengalaman berkesan bagi Anda melalui eksekusi acara yang andal dan <br> tersusun secara interaktif, kreatif, serta inovatif. Memiliki perhatian penuh terhadap detail suatu acara dan <br> terbuka terhadap segala ide, masukan, bahkan koreksi melalui diskusi bersama dalam rangka <br> mewujudkan acara yang sempurna.</p>
          </div>
         </div>
      </section>
      

      <section style="background-color: #E5E5E5;">
        <div class="content container">
          <div>
            <h2 class="text-center title fs-36 pt-5 pb-3">Meet our team</h2>
            <p class="mx-auto text-center fs-18 title-paragraph pb-5">
              Tim kami terdiri dari profesional terpilih yang memiliki kinerja terbaik, mampu menghasilkan ide-ide out of the box,<br> mengusulkan konsep inovatif, memberikan solusi turn key, dan merealisasikan hasil yang luar biasa.
            </p>
          </div>
          <div class="row justify-content-center mt-2 mb-5">
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team1.png" class="image-fluid">
                <div class="card-body">
                  <h5 class="card-title">Jack</h5>
                  <p class="card-text">Founder & CEO</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team2.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Annastasya</h5>
                  <p class="card-text">Product Operation Head</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team3.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Steph</h5>
                  <p class="card-text">Business Development</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mt-3 mb-3">
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team4.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Marie</h5>
                  <p class="card-text">Marketing & Sale</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team5.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Brian</h5>
                  <p class="card-text">Creative Director</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card" >
                <img src="/images/default/team6.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Samantha</h5>
                  <p class="card-text">Corporate Communication</p>
                </div>
              </div>
            </div>
          </div>
          <br> <br> <br>
      </section >

      <section>
        <div class="container">
          <div class="row justify-content-center pt-5">
            <div class="col-lg-6">
              <img src="/images/default/streamline-newsletter.svg" >
            </div>
            <div class="col-lg-6 pt-5">
              <h2>Hubungi kami?</h2>
              <form class="needs-validation" action="javascript:showModal()" novalidate>
                <div class="row justify-content-center">
                <div class="md-5">
                    <div class="mb-2">
                      <label for="name" class="form-label">Nama </label>
                      <input type="text" class="form-control rounded-3 border-2" id="name" aria-describedby="name" name="name" placeholder="Nama" required/>
                      <div class="invalid-feedback">Nama tidak boleh kosong.</div>
                    </div>
                    <div class="mb-2">
                      <label for="emailFrom" class="form-label" >Email </label>
                      <input type="email"  class="form-control rounded-3 border-2" id="emailFrom" aria-describedby="emailFrom" name="emailFrom" placeholder="you@mail.com" required/>
                      <div class="invalid-feedback">Email tidak boleh kosong.</div>
                    </div>
                    <div class="mb-2">
                      <label for="pesan" class="form-label" >Pesan </label>
                      <textarea name="pesan" class="form-control rounded-3 border-2" id="pesan" cols="30" rows="5" placeholder="Pesan" required></textarea>
                      <div class="invalid-feedback">Pesan tidak boleh kosong.</div>
                    </div>
                </div>
                <div class="d-grid gap-2 pt-3">
                    <button  type="submit" value="Send" id="send" class="btn text-white" style="background-color: #7940cc">Kirim Pesan</button>
                </div>
              </form>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div style="height: auto;" class=" modal-content verification-sent position-absolute top-50 start-50 translate-middle">
                  <h3>Pesan Terkirim</h3>
                  <img src="/images/default/success-reset.svg">
                  <p>Pesan berhasil terkirim, kami akan menjawab pesan Anda sesegera mungkin</p>
                    <div class="d-grid gap-2">
                        <a href="/" class="btn text-white d-flex align-items-center justify-content-center" style="background: #7940CC; height: 52px;width: 430px;left: 32px; top: 258px; border-radius: 6px; padding: 6px, 16px, 6px, 16px;">OK </a>
                    </div>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
      </section>
      <br> <br>

      <footer class="mt-5">
        <%- include('footerLandingPage')%>
      </footer>

      <%- include('../partials/scripts.ejs') %>

      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')
          
          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()

        document.getElementById("send").addEventListener('click', function () {
        const name = document.getElementById("name").value
        const emailFrom = document.getElementById("emailFrom").value
        const pesan = document.getElementById("pesan").value

        if(name && emailFrom && pesan){
          const subject = name + " (" + emailFrom + ")"
	        window.open(`mailto:mail@eventprise.com?subject=${subject}&body=${pesan}`, "_blank")
          return false
        }
      });

      function showModal(){
        var myModal = new bootstrap.Modal(document.getElementById('aboutModal'), {
          keyboard: false
        })
        myModal.show()
      }
      </script>

    </body>
</html>


