<!-- template buat di halaman request reset password -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Reset Password'}) %>
  <body>
    <header>
  <%- include('../partials/navbar.ejs') %>
  <%- include('login') %> 
  <%- include('register') %> 
   </header>   
   <form id="resetPasswordForm" action="/confirm-reset-password" method="post" id="resetpassword" class="needs-validation <%= error.length!==0?'was-validated':''%>" novalidate>
      <div class="resetpassword position-absolute top-50 start-50 translate-middle ">
        <h5 class="text-center">Atur Ulang Password Anda</h5>
        <label for="password" class="form-pass">Password</label>     
        <input type="password" class="form-control pass-control" name="password" id="password" placeholder="Password" required/>
        <div class="invalid-feedback">
          <%= error[0]?.password || " password tidak boleh kosong" %> 
        </div> 
        <label for="confirmPassword" class="form-pass">Ketik Ulang Password </label>  
        <input type="password" class="form-control pass-control" name="confirmPassword" id="confirmPassword" placeholder="Ketik Password"  autocomplete="off" required/>
        <div class="invalid-feedback">
          <%= error[0]?.confirmpassword || " password tidak boleh kosong" %> 
        </div> 
        <div class="errmsg"> <%= error[0]?.message %></div>
        <div class="errmsg"><%= success[0] %></div>
        <ul>
          <li>minimal 8 karakter</li>
          <li>Password hanya bisa menggunakan huruf, angka dan tanda baca umum</li>
        </ul>
        <input type="hidden" name="t" id="t" placeholder="t" value="<%= token %>"/>
         <!-- Contoh menerima pesan success -->
        <% if(success.length!==0) { %>
        <p class="success"></p>
        <% } %>
        <!-- Contoh menerima pesan error -->
        <% if(error.length!==0) { %>
        <p class="error"></p>
        <% } %>
        <button class="resetPasswordButton " type="submit"><p>Reset Password</p></button>
      </div>
      </form>
      
      <%- include('../partials/scripts.ejs') %>
      <script>
        (function () {
          'use strict'
          var forms = document.querySelectorAll('.needs-validation')
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
      </script>
</body>
</html>



<!-- <script>
  const resetPasswordForm = document.getElementById('resetPasswordForm');
  const pwd = document.getElementById('password');
  const confirmPwd = document.getElementById('confirmPassword');
  const button = document.getElementById('resetPasswordButton');

  resetPasswordForm.addEventListener('submit', function (event) {
    event.preventDefault();
    const url = document.location.href;

    // split url untuk menyisipkan api/v1/users/confirm
    const resetPasswordUrl = new URL(
      url.split('confirm').join('api/v1/users/confirm')
    );

    if (pwd.value !== confirmPwd.value) {
      console.log('password does not match');
      return;
    }

    const data = {
      password: pwd.value,
      confirmPassword: confirmPwd.value,
    };

    fetch(resetPasswordUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then((res) => {
        console.log(res);
        return res.json();
      })
      .then((data) => {
        console.log(data);
      })
      .catch((err) => {
        console.log(err);
      });
  });
</script> -->
