<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>

  <body class="p-0">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
       
    </header>
    <main>
      <p class="mt-5 bg-purple-pressed">test</p>
       <div id="findUs">
        <div class="location-sub text-center">
          <h1 class="text-center">Tersebar di beberapa lokasi</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius tristique convallis eget tristique tincidunt. Vitae est pharetra est tortor vestibulum. Id quam mus sociis nisl. Id enim pellentesque laoreet ac</p>
        </div>

        <div class="container-fluid location-border">
            <div class="head-border">
                <div class="row pilihan-kota">
                    <div class="col">
                      <h6>Jabodetabek</h6>
                    </div>
                    <div class="col">
                        <h6>Jawa Barat</h6>
                    </div>
                    <div class="col">
                        <h6>Jawa Tengah</h6>
                    </div>
                    <div class="col">
                        <h6>Jawa Timur</h6>
                    </div>
                    <div class="col">
                        <h6>Bali dan Nusa Tenggara</h6>
                    </div>
                    <div class="col">
                        <h6>Sumatera</h6>
                    </div>
                    <div class="col">
                        <h6>Kalimantan, Sumatera dan Papua</h6>
                    </div>
                </div>
            </div>

            <div id="jabodetabek-border">
                <div class="row">
                    <div class="col">
                      <p>Jakarta Selatan</p>
                    </div>
                    <div class="col">
                        <p>Jakarta Pusat</p>
                    </div>
                    <div class="col">
                        <p>Jakarta Timur</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Jakarta Barat</p>
                    </div>
                    <div class="col">
                        <p>Jakarta Utara</p>
                    </div>
                    <div class="col">
                        <p>Kota Tanggerang</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Kota Serang</p>
                    </div>
                    <div class="col">
                        <p>Kota Cilegon</p>
                    </div>
                    <div class="col">
                        <p>Kota Tanggerang Selatan</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Kota Depok</p>
                    </div>
                    <div class="col">
                        <p>Kota Bogor</p>
                    </div>
                    <div class="col">
                        <p>Kota Sukabumi</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Kota Bekasi</p>
                    </div>
                </div>
            </div>

            <div id="jabar-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Bandung</p>
                    </div>
                    <div class="col">
                        <p>Kota Banjar</p>
                    </div>
                    <div class="col">
                        <p>Kota Cimahi</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <p>Kota Cirebon</p>
                    </div>
                    <div class="col">
                        <p>Kota Tasikmalaya</p>
                    </div>
                </div>
            </div>

            <div id="jateng-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Magelang</p>
                    </div>
                    <div class="col">
                        <p>Kota Pekalongan</p>
                    </div>
                    <div class="col">
                        <p>Kota Salatiga</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <p>Kota Semarang</p>
                    </div>
                    <div class="col">
                        <p>Kota Surakarta</p>
                    </div>
                    <div class="col">
                        <p>Kota Tegal</p>
                    </div>
                </div>
            </div>

            <div id="jatim-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Batu</p>
                    </div>
                    <div class="col">
                        <p>Kota Blitar</p>
                    </div>
                    <div class="col">
                        <p>Kota Kediri</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <p>Kota Madiun</p>
                    </div>
                    <div class="col">
                        <p>Kota Malang</p>
                    </div>
                    <div class="col">
                        <p>Kota Mojokerto</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <p>Kota Pasuruan</p>
                    </div>
                    <div class="col">
                        <p>Kota Probolinggo</p>
                    </div>
                    <div class="col">
                        <p>Kota Surabaya</p>
                    </div>
                </div>
            </div>

            <div id="bnt-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Denpasar</p>
                    </div>
                    <div class="col">
                        <p>Kota Kupang</p>
                    </div>
                    <div class="col">
                        <p>Kota Mataram</p>
                    </div>
                </div>
            </div>

            <div id="sumatera-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Banda Aceh</p>
                    </div>
                    <div class="col">
                        <p>Kota Bandar Lampung</p>
                    </div>
                    <div class="col">
                        <p>Kota Batam</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Bengkulu</p>
                    </div>
                    <div class="col">
                        <p>Kota Jambi</p>
                    </div>
                    <div class="col">
                        <p>Kota Medan</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Padang</p>
                    </div>
                    <div class="col">
                        <p>Kota Palembang</p>
                    </div>
                    <div class="col">
                        <p>Kota Pangkal Pinang</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Pekanbaru</p>
                    </div>
                    <div class="col">
                        <p>Kota Pontianak</p>
                    </div>
                </div>
            </div>

            <div id="ksp-border" hidden>
                <div class="row">
                    <div class="col">
                      <p>Kota Ambon</p>
                    </div>
                    <div class="col">
                        <p>Kota Balikpapan</p>
                    </div>
                    <div class="col">
                        <p>Kota Gorontalo</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Jayapura</p>
                    </div>
                    <div class="col">
                        <p>Kota Kendari</p>
                    </div>
                    <div class="col">
                        <p>Kota Makassar</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Manado</p>
                    </div>
                    <div class="col">
                        <p>Kota Palangka Raya</p>
                    </div>
                    <div class="col">
                        <p>Kota Palu</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                      <p>Kota Samarinda</p>
                    </div>
                    <div class="col">
                        <p>Kota Ternate</p>
                    </div>
                </div>
            </div>
      </div>
    </main>
    <footer>
        <%- include('footerLandingPage')%>
    </footer>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>