<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
  <%- include('../partials/navbar.ejs') %>
  <%- include('register') %>
  <body>


<!--   comment sample
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
