<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
<style>
    .slide-show-ari{
        flex-wrap: nowrap !important;
        overflow: auto hidden !important;
        overflow-x: hidden !important;
        white-space: nowrap;
        transition: all 0.5s ease 0s !important;
        position: relative !important;
    }
    .slide-show-control{
        position: absolute;
        z-index: 1;
        top: 54%;
        left: -1%;
        display: flex;
        width: 102%;
        justify-content: space-between;
    }
.fade-in-image {
  animation: fadeInUp 1.5s;
}
 @keyframes fadeInUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
</style>
  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
 
    <main >
          <!-- Modal -->
<div class="modal fade" id="order1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content ">
     
      <div class="modal-body text-center">
        <i class="bi bi-exclamation-triangle-fill text-center text-danger " style="font-size: 62px;"></i>
        <p  style="font-size: 18px;">Masih Ada Data yang Kosong</p>
      </div>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
    </div>
  </div>
</div>
      <p class="mt-5">test</p>
      <div class="container-fluid" id="orderStep1" >
        <div class="row justify-content-center">
          <div class="col-10 bg-neutral-10 px-5  py-4 rounded-3">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center">informasi acara</h1>
            <div class="row mt-3">
              <div class="col">
                <p>pilih lokasi</p>
                <select class="form-select" aria-label="Default select example" id="location">
                      <option selected>Tentukan lokasi anda</option>
                  <% location.map((location)=>{ %>
                      <option value="<%= location %>"><%= location  %></option>
                  <%}) %>
                </select>
              </div>
              <div class="col ">
                <p>tanggal diselenggarakan acara</p>
                <div class="row">
                  <div class="col-3">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                  <div class="col-6">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                  <div class="col-3">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p>paket yang dipilih</p>

                <select class="form-select" aria-label="Default select example" id="package">
                  <% packages.map((package)=>{ %>
                    <% const packageValue = {
                       name : package.name,
                       minParticipan : package.minParticipant,
                       additionCost : package.additionCost,
                       price : package.price,
                    };
                    
                      const convert =  encodeURIComponent(JSON.stringify(packageValue))
                    %>
                        <option selected="<%= package.selected %>"  value="<%= convert %>"> <%= package.name + " - Kapasitas " + package.minParticipant + " Orang"  %> </option>
                 <% }) %>
                </select>
              </div>
              <div class="col">
                <p>tambahan jumlah tamu</p>
               
                <div class="row align-items-center">

                  <div class="col">
                <div class="d-flex">
                  <button type="button" id="redGuest" class="btn btn-outline-purple text-purple-main">-</button>
                  <input type="text" class="mx-2 w-25 text-center text-purple-main" disabled  value="0" id="totalGuest">
                  <button type="button" id="addGuest" class="btn btn-outline-purple text-purple-main ">+</button>
                </div>

                  </div>
                  <div class="col">
                  <div class="" id="totalGuestText"></div>

                  </div>

                </div>
                  
              </div>
            </div>
          </div>
        </div>

<div class="d-flex justify-content-center mt-5 d-none align-items-center" id="loadingBar">
  <span class="spinner-border text-purple-main" role="status" aria-hidden="true"></span>
  <span class="fs-24">&nbsp;Loading...</span>
</span>
</div>

          <div style=" margin-bottom: 100px;" class="row fade-in-image justify-content-center mt-4 d-none" id="eventInformation">
              <div  class="col-10 position-relative  bg-neutral-10 text-center px-5 py-5 rounded-3">
                  <h1 class="text-capitalize text-neutral-100 fw-bold fs-24">detail acara</h1>
                  <div class="row">
                    <div class="col-12 position-relative">

                      <!-- Food -->
                  <div class="food" id="food"></div>
                      <!-- Food -->
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-12 position-relative">

                      <!-- Food -->
                  <div class="snack" id="snack"></div>
                      <!-- Food -->
                    </div>
                  </div>
                
<!-- Themes -->
<div class="row mt-5">
  <div class="col-12 position-relative">
        <div class="themes" >
                      <p class="text-neutral-90 text-start fs-18 fw-bold text-capitalize">Pilih tema acara</p>
                      <div class="alert alert-danger d-none" role="alert" id="error-theme">
                        Mohon pilih tema sebelum melanjutkan ke langkah berikutnya
                      </div>

        <div class="slide-show-control">
             <button id="btnLefttheme" class=" fs-18 btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
             <button id="btnRighttheme" class=" fs-18 btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
        </div>
                
        <div class="slide-show-ari theme-check">
        <% themes.forEach((data, i)=>{ %>
        <% let themeId = i + 1; %>
       <div style="width: 19.6%; box-sizing: border-box;" class="slide-show-item-theme px-1 d-inline-block <%= themeId === 1 ? "pivottheme": ""%>" id="theme<%=themeId%>">
                <div class="card card-check-theme">
                  <div class="card-header bg-white">
                    <div class="row my-1">
                      <div class="col-10"><label for="test" class="text-capitalize fw-bold text-neutral-100 fs-18"><%= data.name %></label></div>
                      <div class="col-2 radio-check">
                        <input class="form-check-input" type="radio" name="theme" id="<%= data.id %>" value="" aria-label="..."/>
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <!-- <img class="w-100" src="images/default/<%= data.img%>" alt=""/> -->
                           <img class="w-100" src="<%= data.photo%>" alt=""/>
                           <!-- <p class="w-100 text-start" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.</p> -->
                  </div>
                </div>
           </div>
      <% });  %>

        </div>

        <p class="text-muted text-purple-main text-start mt-3">*untuk kustom tema acara bisa di diskusikan lebih lanjut melalui Whatsapp pada Halaman Detail pesanan</p>
              </div>
  </div>
</div>


<div class="row text-start mt-3">
  <div class="col">
    <p>Bagaimana konsep acara anda?</p>
    <select class="form-select" name="eventConcept" id="eventConcept" >
      <option selected value="">Pilih konsep</option>
      <option value="indoor" >Indoor</option>
      <option value="outdoor">Outdoor</option>
    </select>
  </div>
  <div class="col">
    <p>Tulis nama untuk souvenir costum pulpen</p>
      <input type="text" name="costumPulpen" class="form-control" id="costumPulpen" placeholder="">
  </div>
</div>

          </div>
      </div>

    </main>
    <footer>
      <div class="footer  position-fixed bottom-0 w-100 shadow-lg">
      <!-- <div class="footer  container-fluid bg-neutral-10"> -->
        <div class="bg-white">
          <div class="row align-items-center justify-content-around">
            <div class="col-2">
              <button type="button" class="btn btn-outline-purple  w-100" id="previous" >Sebelumnya</button>
            </div>
            <div class="col-7 text-center">
              <p class="mb-1 mt-2">total (1 paket)</p>
              <p class="fs-18" id="price">25.000.000</p>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="btn w-100 text-white btn-purple" id="next" >Selanjutnya</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script>
const structurData = {
  namePackage: "",
  minParticipan: "",
  additionCost : 0,
  addParticipan : 0,
  products : [],
};

localStorage.setItem('data', JSON.stringify(structurData));

const getLocalStorage = (name) =>{
  const getData = JSON.parse(localStorage.getItem('data'));
  return getData[name];
};
const formatRupiah = (numb) => {
  const format = numb.toString().split('').reverse().join('');
  const convert = format.match(/\d{1,3}/g);
  const rupiah = 'Rp ' + convert.join('.').split('').reverse().join('')
  return rupiah;
};

const setLocalStorage = (name, value) => {
  const getData = JSON.parse(localStorage.getItem('data'));
  getData[name] = value;
  localStorage.setItem('data', JSON.stringify(getData));
};
const setLocalStorageProduct = ( value, value2 = 0) => {
  const getData = JSON.parse(localStorage.getItem("data"));
    getData["products"]
      .push({
        id: value,
        qty: value2,
      });
  localStorage.setItem("data", JSON.stringify(getData));
};
</script>

    <script>
   function themesControl(title) {
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const sortingId = parseInt(pivot.charAt(pivot.length - 1))
          const dataLength = document.querySelectorAll(`.slide-show-item-${title}`).length 
          const totalItemShow = 5;
          
          const btnLeft = document.getElementById(`btnLeft${title}`);
          const btnRight = document.getElementById(`btnRight${title}`);
            console.log(sortingId);

          if(sortingId === 1){
             btnLeft.style.visibility = 'hidden';
           }

           if(dataLength <=5 ){
             btnRight.style.visibility = 'hidden';
           }

         btnRight.addEventListener('click', ()=>{
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const getData = parseInt(pivot.charAt(pivot.length - 1))
          const pivotBreak = dataLength - totalItemShow + 1; 
          const hitung = (getData  > pivotBreak) ? pivotBreak : getData;

          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`${title+i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`${title+i}`).style.transition = "all 1s ease 0s";
           }
           const addPivot = getData+1;
             if(getData  <= pivotBreak){
               document.getElementById(pivot).classList.remove(`${"pivot"+title}`)
               document.getElementById(`${title+addPivot}`).classList.add(`${"pivot"+title}`)
             }
            
             if (addPivot !== 1) {
                btnLeft.style.visibility = 'visible';
            }

             if (addPivot === pivotBreak) {
                btnRight.style.visibility = 'hidden';
            }
          })
          
         btnLeft.addEventListener('click', ()=>{
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const getData = parseInt(pivot.charAt(pivot.length - 1))
          const hitung =  getData - 2 ;
          const rubah = getData - 1;

          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`${title+i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`${title+i}`).style.transition = "all 1s ease 0s";
           }
             if(getData > 1){
             document.getElementById(pivot).classList.remove(`${"pivot"+title}`)
             document.getElementById(`${title+rubah}`).classList.add(`${"pivot"+title}`)
             }
            if (rubah !== 1) {
             btnRight.style.visibility = 'visible';
            }
             if (rubah === 1) {
             btnLeft.style.visibility = 'hidden';
            }
          });
          };
// Card Control
   const cardControl = (title, customTitle) =>{
           return `
           <p class="text-neutral-90 text-start fs-18 fw-bold text-capitalize">Pilih ${customTitle}</p>
              <div class="alert alert-danger d-none" role="alert" id="error-${title}">
                        Mohon pilih ${title === "food"  ? "Menu": "Snack"} sebelum melanjutkan ke langkah berikutnya
              </div>
            <div class="slide-show-control">
                <button id="btnLeft${title}" class=" fs-18 btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
                <button id="btnRight${title}" class=" fs-18 btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
             </div>
             <div class="slide-show-ari theme-check"  id="${title}Item"></div>
                      `
          };
   const card = (type, title, id, data)=>{
            return `
             <div style="width: 19.6%; box-sizing: border-box;" class="slide-show-item-${title} px-1 d-inline-block  ${id === 1 ? `pivot${title}`: ""}" id="${title+id}" >
                <div class="card ${"card-check-"+title}">
                  <div class="card-header bg-white">
                    <div class="row my-1 ">
                      <div class="col-10"><label for="test" class="text-capitalize fw-bold text-neutral-100 fs-18">${data.name}</label></div>
                      <div class="col-2">
                      ${type === "radio" ? `<input class="form-check-input" type="radio" name="${title}" id="${data.id}" value="" aria-label="..."/>`: `<input class="form-check-input" type="checkbox" name="snack" value="" id="${data.id}">`}
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <img class="w-100" src="${data.photo}" alt=""/>
                           ${data.desc ? `<p class="w-100 mt-2 text-start px-1" > ${data.desc} </p>`:""}
                  </div>
                </div>
           </div>`;
          };
 
   const resetBorderCard = (title) =>{
     const cardCheckSnack = document.querySelectorAll(`.card-check-${title}`);
     for (let i = 0; i < cardCheckSnack.length; i++) {
       cardCheckSnack[i].style.border = "1px solid #e5e5e5";
       cardCheckSnack[i].children[0].children[0].children[1].children[0].checked = false;
     }
   }
   const loadViewApi = (data) => {
     document.getElementById('food').innerHTML = cardControl('food', "menu utama");
     document.getElementById('snack').innerHTML = cardControl('snack', "jenis snack");

      data.products.makanan.forEach((data, foodIndex)=>{
              document.getElementById('foodItem').innerHTML += card("radio","food",foodIndex + 1, data);
          });
      data.products.snack.forEach((data, snackIndex)=>{
          document.getElementById('snackItem').innerHTML += card("checkbox","snack",snackIndex + 1, data);
      });

      themesControl("food");
      themesControl("snack");
      themesControl("theme");

      resetBorderCard("snack")
      resetBorderCard("food")
      resetBorderCard("theme")
      
      document.getElementById("costumPulpen").value = ""
      document.getElementById("eventConcept").value = "";
      const getDataLs = JSON.parse(localStorage.getItem("data"));
      getDataLs['products'] = [];
      getDataLs['food'] = "";
      getDataLs['theme'] = "";
      getDataLs['concept'] = "";
      getDataLs['costumPulpen'] = "";
      localStorage.setItem("data", JSON.stringify(getDataLs))

   }

  document.getElementById("location").addEventListener("change", ()=>{
      const eventInformation = document.getElementById("eventInformation");
      const loadingBar = document.getElementById("loadingBar");
      eventInformation.classList.add("d-none") 
      loadingBar.classList.remove("d-none") 

        setTimeout(async() => {
          try {
            const getProduct  = await fetch("/api/v1/vendors?location=bekasi");
            const {data} = await getProduct.json();
            eventInformation.classList.remove("d-none")
            loadingBar.classList.add("d-none");
            // load View API
            loadViewApi(data)
            console.log(data);
            loadViewChecked()
          } catch (error) {
            console.log(error);
          }
      }, 1000);
  })

    </script>

       <script>
         const eventConcept = document.getElementById("eventConcept");
         eventConcept.addEventListener("change", (e)=>{
            if(e.target.value !== ""){
              setLocalStorage('concept', e.target.value)
            }else{
              setLocalStorage('concept', "")
            }
         });

        //  CustomPulpen
        const costumPulpen = document.getElementById("costumPulpen");
        costumPulpen.addEventListener('keyup',(e)=>{
          setLocalStorage(e.target.name, e.target.value)
        })


 const loadViewChecked = () => {
     const themeCheck = document.getElementsByClassName("theme-check");
          const lengthTheme = themeCheck.length;
         for (let i = 0; i < lengthTheme; i++) {
            themeCheck[i].addEventListener('click', function(event){
              const getName = event.path[0].name;
              cardCheck= document.querySelectorAll(`.card-check-${getName}`);
              
               if (event.path[0].checked) {
                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5";
                     if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }
              }
              console.log(getName);
                  if(getName === "snack"){
                    setLocalStorageProduct(event.path[0].id)
                  }else{
                    setLocalStorage(getName, event.path[0].id )
                  }
                event.path[0].parentElement.parentElement.parentElement.parentElement.style.border = "3px solid #7940CC"
                 
               }else{
                 const product = getLocalStorage('product').filter((product)=> product.id !== event.path[0].id);
                 setLocalStorage('product', product)
                //  console.log(event.path[0].id);
                  setLocalStorage(getName, snack );
                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5"; 
                      if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }              
              }
               }
            });
         }
   }
         



// Btn Add Guest & Reduce Guest
  const redGuest = document.getElementById("redGuest");
  const addGuest = document.getElementById("addGuest");
  const totalGuest = document.getElementById("totalGuest");
  const totalGuestText = document.getElementById("totalGuestText");
  const price = document.getElementById("price");
  
  const minParticipan = getLocalStorage("minParticipan");
  totalGuestText.innerText = `total tamu undangan ${minParticipan}`;
  redGuest.addEventListener('click',()=>{
  const minParticipan = getLocalStorage("minParticipan");
  const addParticipan = getLocalStorage("addParticipan");
    if (addParticipan >= 10) {
      const totalParticipan = addParticipan - 10;
      totalGuestText.innerText =  `total tamu undangan ${minParticipan + totalParticipan}`;
      setLocalStorage("addParticipan", totalParticipan)
      totalGuest.value = getLocalStorage("addParticipan");
      price.innerText = formatRupiah(getLocalStorage('price') + ((getLocalStorage("addParticipan") / 10) * getLocalStorage('additionCost')))
    }
  })
  addGuest.addEventListener('click',()=>{
     const minParticipan = getLocalStorage("minParticipan");
     const totalParticipan = getLocalStorage('addParticipan') + 10;
      totalGuestText.innerText =  `total tamu undangan ${minParticipan + totalParticipan}`;
      setLocalStorage("addParticipan", totalParticipan)
      totalGuest.value = getLocalStorage("addParticipan");
      price.innerText = formatRupiah(getLocalStorage('price') + ((getLocalStorage("addParticipan") / 10) * getLocalStorage('additionCost')))
  })

// Btn Selanjutnya
         const btnNext = document.getElementById("next");
         btnNext.addEventListener("click", ()=>{
          let error = false;
           if(getLocalStorage("theme")){
             document.getElementById("error-theme").classList.remove("d-block");
             document.getElementById("error-theme").classList.add("d-none");
           }else{
             document.getElementById("error-theme").classList.remove("d-none");
             document.getElementById("error-theme").classList.add("d-block");
             error= true;
           }
           if( getLocalStorage("snack") && getLocalStorage("snack").length !== 0){
             document.getElementById("error-snack").classList.remove("d-block");
             document.getElementById("error-snack").classList.add("d-none");
           }else{
             document.getElementById("error-snack").classList.remove("d-none");
             document.getElementById("error-snack").classList.add("d-block");
             error= true;
           }
           if(getLocalStorage("food")){
             document.getElementById("error-food").classList.remove("d-block");
             document.getElementById("error-food").classList.add("d-none");
           }else{
             document.getElementById("error-food").classList.remove("d-none");
             document.getElementById("error-food").classList.add("d-block");
             error= true;
           }

          var myModal = new bootstrap.Modal(document.getElementById('order1'), {
  keyboard: false
}) 

if(error){
   myModal.show()
}
         
         })

// Package
const getPackage = document.getElementById('package')
const getPackageConvert = JSON.parse(decodeURIComponent(getPackage.value))
  setLocalStorage('namePackage', getPackageConvert.name)
  setLocalStorage('additionCost', getPackageConvert.additionCost)
  setLocalStorage('minParticipan', getPackageConvert.minParticipan)
  setLocalStorage('price', getPackageConvert.price)
  totalGuestText.innerText =  `total tamu undangan ${getPackageConvert.minParticipan}`;
  document.getElementById('price').innerText =  formatRupiah(getPackageConvert.price)
  
getPackage.addEventListener("change", (e)=>{
  const data = decodeURIComponent(e.target.value)
  const convertData = JSON.parse(data)
  setLocalStorage('namePackage', convertData.name)
  setLocalStorage('minParticipan', convertData.minParticipan)
  setLocalStorage('additionCost', convertData.additionCost)
  setLocalStorage('price', convertData.price)
  totalGuestText.innerText =  `total tamu undangan ${convertData.minParticipan + getLocalStorage("addParticipan")}`;
  document.getElementById('price').innerText =  formatRupiah(getLocalStorage('price') + ((getLocalStorage("addParticipan") / 10) * getLocalStorage('additionCost')))

})
       </script>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
