<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main>
      <div class="container-fluid mt-5 pt-3" id="orderStep2">
        <div class="row justify-content-center ">
          <div class="col-10 bg-neutral-10 px-5  py-3 rounded-3 shadow-lg" style="margin-bottom: 100px;">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center mt-5">Sewa Talent</h1>
            <%- include('cardStep2.ejs', {id: "talent",title: "Talent", datas: talent, isCalculator: false}) %>

            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center">Sewa Alat</h1>
                <%- include('cardStep2.ejs', {id: "airConditioner",title: "Pendingin Udara", datas: kipas, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "chair",title: "Kursi", datas: kursi, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "table",title: "Meja", datas: meja, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "tent",title: "Tenda", datas: tenda, isCalculator: true}) %>
            </div>
        </div>
      </div>
      <%- include('footerOrder', {btnLeft: false}) %>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/helper-localstorage.js"></script>
    <script src="/javascripts/slider-card.js"></script>
    <script>
      // Check When Reload Page
        if(performance.navigation.type == performance.navigation.TYPE_RELOAD){
          setLocalStorage("totalPrice", parseInt(localStorage.getItem("firstTotalPrice")));
          setLocalStorage("products",JSON.parse(localStorage.getItem("products")));
        }
    </script>      
<script>
    
    document.getElementById('totalPrice').innerText = formatRupiah(getLocalStorage('totalPrice'))

    // Slider Card
    sliderControl("talent");
    sliderControl("airConditioner");
    sliderControl("table");
    sliderControl("tent");
    sliderControl("chair");

    const countTalentTools = () =>{
        const firstLengthProduct = JSON.parse(localStorage.getItem("products")).length;
        const product            = getLocalStorage("products");
        const productQtyZero     = product.filter((data)=>data.qty === 0)
        const productQtyNotZero  = product.filter((data)=>data.qty !== 0)
        const sumTalent          = productQtyZero.length - firstLengthProduct 
        const sumTools           = productQtyNotZero.length;
        document.getElementById("titleOrder").innerText = `Total (1 paket ${sumTalent > 0 ? `+ ${sumTalent} talent`: "" }   ${sumTools > 0 ? `+ ${sumTools} alat`: "" })`
    }


const calculatorCard = (event) =>{

    const totalPriceItem = event.parentElement?.parentElement?.children[4];
    const qtyItem        = event.parentElement?.children[1];
    const checkedItem    = event.parentElement?.parentElement?.parentElement?.children[0]?.children[0]?.children[1]?.children[0];
    const cardBorder     = event.parentElement?.parentElement?.parentElement;
    const cardId         = checkedItem?.id;
    const products       = getLocalStorage('products'); 
    const productById    = products.filter((product)=> product.id === cardId);
    const productNotById = products.filter((product)=> product.id !== cardId);
    let totalPrice       = 0;
    const lsTotalPrice   = getLocalStorage("totalPrice");
    const elmTotalPrice  = document.getElementById("totalPrice");

     if(event.innerText === "+")
     {
        qtyItem.value            = parseInt(qtyItem.value) + 1;
        checkedItem.checked      = true;
        cardBorder.style.border  = "3px solid #7940CC";
        totalPrice               = lsTotalPrice + parseInt(totalPriceItem.id)
        totalPriceItem.innerText =  formatRupiah(String(qtyItem.value * parseInt(totalPriceItem.id)))

        if(checkedItem.checked){
            if(productById) setLocalStorage('products', productNotById);
            setLocalStorageProduct(cardId, parseInt(qtyItem.value))
            setLocalStorage('totalPrice', lsTotalPrice  + parseInt(totalPriceItem.id))
            elmTotalPrice.innerText = formatRupiah(totalPrice)
        }
    }

    if(event.innerText === "-")
    {
        totalPrice = lsTotalPrice - parseInt(totalPriceItem.id);
        const resultQtyItem = parseInt(qtyItem.value) - 1;

        if(resultQtyItem >= 0){
            qtyItem.value = resultQtyItem;
            totalPriceItem.innerText =  formatRupiah(String( qtyItem.value * formatInteger(totalPriceItem.id)))
        }
        
        if(checkedItem.checked && resultQtyItem > 0){
            if(productById) setLocalStorage('products', productNotById);
            setLocalStorageProduct(cardId, parseInt(qtyItem.value))
            setLocalStorage('totalPrice', totalPrice )
            elmTotalPrice.innerText = formatRupiah(totalPrice)
        }

        if(checkedItem.checked && resultQtyItem === 0){
            cardBorder.style.border = "1px solid #e5e5e5";
            checkedItem.checked = false;
            setLocalStorage('totalPrice', totalPrice )
            setLocalStorage('products', productNotById)
            elmTotalPrice.innerText = formatRupiah(totalPrice)
        }
      }

      countTalentTools();
}

const resetCheckedCard = (cardCheck) =>{
  for (let i = 0; i < cardCheck.length; i++) {
    cardCheck[i].style.border = "1px solid #e5e5e5";
    if(cardCheck[i].children[0].children[0].children[1].children[0].checked){
       cardCheck[i].style.border = "3px solid #7940CC";
    }
  }
}

const checkedCard = (event) =>{
    const getName = event.name;
    let cardCheck= document.querySelectorAll(`.card-check-${getName}`);
    
         const getPrice = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[4]?.id
         const getItem = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[3]?.children[1].value
         const qty = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[3]?.children[1];
         const id = event.id;
         const textPrice = event.parentElement.parentElement.parentElement?.parentElement?.children[1]?.children[4];

         if (event.checked) {
            const totalPrice = getLocalStorage("totalPrice") + (parseInt(getPrice) * getItem) 
            if(totalPrice){
                  document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                  setLocalStorage('totalPrice', totalPrice )
            }

            resetCheckedCard(cardCheck);

            if(getName === "airConditioner" || getName === "chair" || getName === "table" || getName === "tent"){
                  if(qty.value === "0"){
                    qty.value = 1;
                    textPrice.innerText = formatRupiah(getPrice);
                    const totalPrice = parseInt(getLocalStorage("totalPrice")) + parseInt(getPrice);
                    setLocalStorage('totalPrice', totalPrice);
                    document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                  }
                  setLocalStorageProduct(id, parseInt(qty.value));
              }else if(getName === "talent"){
                  const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                  const totalPrice = getLocalStorage("totalPrice") + parseInt(talentCost);
                  setLocalStorageProduct(id);
                  setLocalStorage('totalPrice', totalPrice )
                  document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
              }

               event.parentElement.parentElement.parentElement.parentElement.style.border = "3px solid #7940CC"
                 countTalentTools();
               }else{
                 const totalPrice = getLocalStorage("totalPrice") - (parseInt(getPrice) * getItem) 
                 if(totalPrice){
                    document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                    qty.value = 0;
                    textPrice.innerText = formatRupiah(0);
                    setLocalStorage('totalPrice', totalPrice )
                  }
                  const product = getLocalStorage('products').filter((product)=> product.id !== id);

                   if(getName === "airConditioner" || getName === "chair" || getName === "table" || getName === "tent"){
                      setLocalStorage('products', product)
                   }else if(getName === "talent"){
                      const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                      const totalPrice = getLocalStorage("totalPrice") - parseInt(talentCost);
                      setLocalStorageProduct(id);
                      setLocalStorage('products', product)
                      setLocalStorage('totalPrice', totalPrice )
                      document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                   }
                  
                   resetCheckedCard(cardCheck);
                   countTalentTools();
               }
}

// Check All Item Radio Button And Check Box
const checkItem = document.getElementsByClassName("check-item");
      const lengthCheckItem = checkItem.length;
      for (let i = 0; i < lengthCheckItem; i++) {
        checkItem[i].addEventListener('click', function(event){
          calculatorCard(event.path[0]);
          checkedCard(event.path[0]);
        });
}
</script>

<script>
  // Btn Selanjutnya
  const btnNext = document.getElementById("next2");
  const btnLoading = document.getElementById("next3");
  btnNext.addEventListener("click",  ()=>{
    const data = localStorage.getItem("data");
     btnLoading.classList.remove("d-none");
     btnNext.classList.add("d-none");
         setTimeout(async () => {
          try {
            const config = {
              headers: { 'Content-Type': 'application/json'},
              method: "post",
              body: data,
            }
            const sendData = await fetch( "/api/v1/orders", config );
            const result = await sendData.json();
              if(result.message === "success" ){                 btnLoading.classList.add("d-none");
                btnNext.classList.remove("d-none");;
                window.location.href = `/orders/${result.data.id}/step/3`;
              }else{
                btnLoading.classList.add("d-none");
                btnNext.classList.remove("d-none");
                console.log(result);
              }
          } catch (error) {
            console.log(error);
          }
        }, 1500);
    

  });
</script>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
