<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main>
      <script src="/javascripts/helper.js"></script>
      <div class="container-fluid mt-5 pt-3" id="orderStep2">
        <div class="row justify-content-center ">
          <div class="col-10 bg-neutral-10 px-5  py-3 rounded-3" style="margin-bottom: 100px;">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center mt-4">Sewa Talent</h1>
            <%- include('cardStep2.ejs', {id: "talent",title: "Talent", datas: talent, isCalculator: false}) %>
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center">Sewa Alat</h1>
                <%- include('cardStep2.ejs', {id: "airConditioner",title: "Pendingin Udara", datas: kipas, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "chair",title: "Kursi", datas: kursi, isCalculator: true}) %>

                <%- include('cardStep2.ejs', {id: "table",title: "Meja", datas: meja, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "tent",title: "Tenda", datas: tenda, isCalculator: true}) %>

                
            </div>
        </div>
      </div>
      <%- include('footerOrder', {btnLeft: true}) %>
    <script src="/javascripts/helper-localstorage.js"></script>
    <script src="/javascripts/slider-card.js"></script>
      
<script>
    
    document.getElementById('totalPrice').innerText = formatRupiah(getLocalStorage('totalPrice'))

            
sliderControl("talent");
sliderControl("airConditioner");
sliderControl("table");
sliderControl("tent");
sliderControl("chair");

// SlideControle End
const calculatorCard = (event) =>{
     if(event.innerText === "+")
     {
        let getValue = event.parentElement.parentElement.children[4];
        let result = event.parentElement.children[1];
        result.value = parseInt(result.value) + 1;
        getValue.innerText =  formatRupiah(String(result.value * parseInt(getValue.id)))
        const getChecked = event.parentElement.parentElement.parentElement.children[0].children[0].children[1].children[0];
        if(getChecked.checked){
           const idProduct = getChecked.id;
           const productCheck = getLocalStorage('products').filter((product)=> product.id === idProduct);
           const product = getLocalStorage('products').filter((product)=> product.id !== idProduct);
           const qty  = result.value;
           if(productCheck){
             setLocalStorage('products', product)
            }
            setLocalStorageProduct(idProduct, qty)
            const totalPrice = getLocalStorage("totalPrice") + parseInt(getValue.id);
            document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
            setLocalStorage('totalPrice', totalPrice )
        }
    }

    if(event.innerText === "-")
    {
        let getValue = event.parentElement.parentElement.children[4];
        let result = event.parentElement.children[1];
        let total = parseInt(result.value) - 1;
        if(total >= 0){
            result.value = total;
            getValue.innerText =  formatRupiah(String( result.value * formatInteger(getValue.id)))
        }
        const getChecked = event.parentElement.parentElement.parentElement.children[0].children[0].children[1].children[0];
        if(getChecked.checked && total >= 0){
           const idProduct = getChecked.id;
           const productCheck = getLocalStorage('products').filter((product)=> product.id === idProduct);
           const product = getLocalStorage('products').filter((product)=> product.id !== idProduct);
           const qty  = result.value;
           if(productCheck){
             setLocalStorage('products', product)
            }
            setLocalStorageProduct(idProduct, qty)
            const totalPrice = getLocalStorage("totalPrice") - parseInt(getValue.id);
            document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
            setLocalStorage('totalPrice', totalPrice )
        }
        // if(total === 0){
        //     event.parentElement.parentElement.parentElement.style.border = "1px solid #e5e5e5";
        //     getChecked.checked = false;
        // }
    }
}

const checkedCard = (event) =>{
    const getName = event.name;
    let cardCheck= document.querySelectorAll(`.card-check-${getName}`);
    
         const getPrice = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[4]?.id
         const getItem = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[3]?.children[1].value

         const id = event.id;
       
         if (event.checked) {
         const totalPrice = getLocalStorage("totalPrice") + (parseInt(getPrice) * getItem) 
         if(totalPrice){
              document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
              setLocalStorage('totalPrice', totalPrice )
         }

                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5";
                     if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }
              }

              switch (getName) {
                  case "airConditioner": 
                  case "chair": 
                  case "table": 
                  case "tent": 
                        const qty = event.parentElement.parentElement.parentElement.parentElement.children[1].children[3].children[1].value;
                        setLocalStorageProduct(id, qty);
                        break;
                  case "talent": 
                                const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                                const totalPrice = getLocalStorage("totalPrice") + parseInt(talentCost);
                                setLocalStorageProduct(id);
                                setLocalStorage('totalPrice', totalPrice )
                                document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)

                        break;
                  default:
                      break;
              }
                
                event.parentElement.parentElement.parentElement.parentElement.style.border = "3px solid #7940CC"
                 
               }else{
                 const totalPrice = getLocalStorage("totalPrice") - (parseInt(getPrice) * getItem) 
                 if(totalPrice){
                     document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                    setLocalStorage('totalPrice', totalPrice )
                }

                  const product = getLocalStorage('products').filter((product)=> product.id !== id);
                 
                   switch (getName) {
                  case "airConditioner": 
                  case "chair": 
                  case "table": 
                  case "tent": setLocalStorage('products', product)
                        break;
                  case "talent": 
                                const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                                const totalPrice = getLocalStorage("totalPrice") - parseInt(talentCost);
                                setLocalStorageProduct(id);
                                setLocalStorage('products', product)
                                setLocalStorage('totalPrice', totalPrice )
                                document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                        break;
                  default:
                      break;
                   }
                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5"; 
                      if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }              
              }
               }
}

   const checkItem = document.getElementsByClassName("check-item");
          const lengthCheckItem = checkItem.length;

         for (let i = 0; i < lengthCheckItem; i++) {
            checkItem[i].addEventListener('click', function(event){
                
              calculatorCard(event.path[0]);
              checkedCard(event.path[0]);
            });
         }


</script>

<script>
  // Btn Selanjutnya
  const btnNext = document.getElementById("next2");
  const btnLoading = document.getElementById("next3");
  console.log(btnNext);
  btnNext.addEventListener("click",  ()=>{
    const data = localStorage.getItem("data");
     btnLoading.classList.remove("d-none");
     btnNext.classList.add("d-none");
         setTimeout(async () => {
          try {
            const config = {
              headers: { 'Content-Type': 'application/json'},
              method: "post",
              body: data,
            }
            const sendData = await fetch( "/api/v1/orders", config );
            const result = await sendData.json();
              if(result.message === "success" ){
                 btnLoading.classList.add("d-none");
                btnNext.classList.remove("d-none");;
                window.location.href = `http://localhost:3000/orders/${result.data.id}/step/3`;
              }else{
                btnLoading.classList.add("d-none");
                btnNext.classList.remove("d-none");
                console.log(result);
              }
          } catch (error) {
            console.log(error);
          }
        }, 2000);
    

  });
</script>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
