<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>

  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
 
    <main >
          <!-- Modal -->
<div class="modal fade" id="order1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content ">
     
      <div class="modal-body text-center">
        <i class="bi bi-exclamation-triangle-fill text-center text-danger " style="font-size: 62px;"></i>
        <p  class="fs-16 text-capitalize">Masih Ada Data yang salah</p>
      </div>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">OK</button>
    </div>
  </div>
</div>
<div class="container-fluid" id="orderStep1" >
        <p class="mt-5">test</p>
        <div class="row justify-content-center">
          <div class="col-10 bg-neutral-10 px-5  py-4 rounded-3 shadow-lg">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center mt-4">informasi acara</h1>
            <div class="row mt-4">
              <div class="col">
                <p class="fs-16 text-capitalize mb-2">Pilih lokasi</p>
                <select class="form-select text-capitalize" aria-label="Default select example" id="location">
                      <option selected>Tentukan lokasi anda</option>
                  <% location.map((location)=>{ %>
                      <option value="<%= location %>" class="text-capitalize"><%= location  %></option>
                  <%}) %>
                </select>
                 <span class="text-danger text-end fs-16 mt-1 d-none" role="alert" id="error-location">
                    Lokasi wajib terisi.
                 </span>
              </div>
              <div class="col ">
                <p class="fs-16 text-capitalize mb-2">Tanggal diselenggarakan acara | Min tanggal <span class="text-danger" id="minDate"></span> </p>
                <div class="row">
                  <div class="col-4">
                      <select class="form-select" id="day">
                      <option selected>Pilih Hari</option>
                      <% for (let day = 1; day <= 31; day++) {%>
                        <option value=<%= day < 10 ? `0${day}` : day %>><%= day %></option>
                        <%}%>
                    </select>
                  </div>
                  <div class="col-4">
                    <% const months = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli",
                  "Agustus", "September", "Oktober", "November", "Desember"];%>
                     <select class="form-select" id="month">
                  <option selected>Pilih Bulan</option>
                 <% for (let month = 0; month < months.length; month++) {%>
                        <option value=<%= (month+1) < 10 ? `0${month+1}` : month+1 %>><%= months[month] %></option>
                        <%}%>
                </select>
                  </div>
                  <div class="col-4">
                     <select class="form-select" id="year">
                  <option selected>Pilih Tahun</option>
                  <% for (let year = 2021; year <= 2030; year++) {%>
                        <option value=<%= year %>><%= year %></option>
                        <%}%>
                </select>
                  </div>
                  <span class="text-danger text-end fs-16 mt-1" role="alert" id="error-date">
                    
                 </span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p class="fs-16 text-capitalize mb-2">paket yang dipilih</p>

                <select class="form-select" aria-label="Default select example" id="choosePackage">
                  <% packages.map((package)=>{ %>
                    <% const packageValue = {
                       package : package.name,
                       minParticipan : package.minParticipant,
                       additionCost : package.additionCost,
                       totalPrice : package.price,
                       maxSnack : package.maxSnack,
                    };
                    
                      const convert =  encodeURIComponent(JSON.stringify(packageValue))
                    %>
                        <option  value="<%= convert %>" <%= package.selected ? "selected" : ""%> > <%= package.name + " - Kapasitas " + package.minParticipant + " Orang"  %> </option>
                 <% }) %>
                </select>
              </div>
              <div class="col">
                <p class="fs-16 text-capitalize mb-2">tambahan jumlah tamu</p>
               
                <div class="row align-items-center">
                  <div class="col-5">
                    <div class="d-flex">
                      <button type="button" id="redGuest" class="btn btn-outline-purple text-purple-main">-</button>
                      <input type="text" class="mx-2 w-25 text-center text-purple-main " disabled  value="0" id="totalGuest">
                      <button type="button" id="addGuest" class="btn btn-outline-purple text-purple-main ">+</button>
                    </div>
                  </div>
                  <div class="col text-start ps-0">
                      <div class="fs-18 text-capitalize" id="totalGuestText"></div>
                  </div>
                </div>
                <p class="mt-2 fs-14 text-purple-main" id="additionCost">*Penambahan kelipatan 10 / Rp 20.000</p>
                  
              </div>
            </div>
          </div>
        </div>

<div class="d-flex justify-content-center mt-5 d-none align-items-center" id="loadingBar">
  <span class="spinner-border text-purple-main" role="status" aria-hidden="true"></span>
  <span class="fs-24">&nbsp;Loading...</span>
</span>
</div>

          <div style=" margin-bottom: 100px;" class="row fade-in-image justify-content-center mt-4 d-none" id="eventInformation">
              <div class="col-10 position-relative  bg-neutral-10 text-center px-5 py-5 rounded-3 shadow-lg">
                  <h1 class="text-capitalize text-neutral-100 fw-bold fs-24">detail acara</h1>

                  <!-- Food -->
                  <div class="row mt-4">
                    <div class="col-12 position-relative">
                      <p class="text-neutral-90 text-start fs-16 text-capitalize">Pilih vendor makanan</p>
                      <div class="alert alert-danger d-none" role="alert" id="vendor-theme">
                        Mohon pilih tema sebelum melanjutkan ke langkah berikutnya
                      </div>
                       <div class="food" id="vendor"></div>
                    </div>
                  </div>

                  <!-- Food -->
                  <div class="row mt-4">
                    <div class="col-12 position-relative">
                       <p class="text-neutral-90 text-start fs-16 text-capitalize">Pilih Menu Utama  </p>
                        <div class="alert alert-danger d-none" role="alert" id="error-food">
                           Mohon Menu Utama sebelum melanjutkan ke langkah berikutnya
                        </div>
                       <div class="food" id="food"></div>
                    </div>
                  </div>

                  <!-- Snack -->
                  <div class="row mt-4">
                    <div class="col-12 position-relative">
                      <div class="row align-items-center">
                        <div class="col-11">
                          <p class="text-neutral-90 text-start fs-16 text-capitalize">Pilih Jenis Snack  </p>
                        </div>
                        <div class="col-1">
                          <p class="text-neutral-80 text-center fs-18 bg-purple-surface py-2 rounded-pill" id="maxSnack">0/2</p>
                        </div>
                      </div>
                        <div class="alert alert-danger d-none" role="alert" id="error-snack">
                             Mohon Pilih Snack sebelum melanjutkan ke langkah berikutnya
                        </div>
                        <div class="alert alert-primary d-none" role="alert" id="error-snack-quota">
                             Anda Masih dapat memilih Snack
                        </div>
                        <div class="alert alert-danger d-none" role="alert" id="error-snack-toolong">
                             Jumlah Snack Sudah Maksimal
                        </div>
                       <div class="snack" id="snack"></div>
                    </div>
                  </div>
                
<!-- Themes -->
<div class="row mt-4">
  <div class="col-12 position-relative">
        <div class="themes" >
                      <p class="text-neutral-90 text-start fs-16 text-capitalize">Pilih tema acara</p>
                      <div class="alert alert-danger d-none" role="alert" id="error-theme">
                        Mohon pilih tema sebelum melanjutkan ke langkah berikutnya
                      </div>

        <div class="slide-show-control">
             <button id="btnLefttheme" class=" fs-18 btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
             <button id="btnRighttheme" class=" fs-18 btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
        </div>
                
        <div class="slide-show-ari theme-check">
        <% themes.forEach((data, i)=>{ %>
        <% let themeId = i + 1; %>
       <div style="width: 19.6%; box-sizing: border-box;" class="slide-show-item-theme px-1 d-inline-block <%= themeId === 1 ? "pivottheme": ""%>" id="theme<%=themeId%>">
                <div class="card card-check-theme">
                  <div class="card-header bg-white">
                    <div class="row my-1">
                      <div class="col-10"><label for="test" class="text-capitalize text-neutral-100 fs-16 fw-semibold"><%= data.name %></label></div>
                      <div class="col-2 px-0">
                        <input class="form-check-input" type="radio" name="theme" id="<%= data.id %>" value="" aria-label="..."/>
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <img class="w-100" src="<%= data.photo%>" alt=""/>
                           <p class="w-100 text-start ps-2 fs-14"  ><%= data.description %></p>
                  </div>
                </div>
           </div>
      <% });  %>

        </div>

        <p class="text-muted text-purple-main text-start mt-3">*untuk kustom tema acara bisa di diskusikan lebih lanjut melalui Whatsapp pada Halaman Detail pesanan</p>
              </div>
  </div>
</div>


<div class="row text-start mt-3">
  <div class="col">
    <p class="fs-16 text-capitalize mb-2">Bagaimana konsep acara anda?</p>
    <select class="form-select" name="eventConcept" id="eventConcept" >
      <option selected value="">Pilih konsep</option>
      <option value="indoor" >Indoor</option>
      <option value="outdoor">Outdoor</option>
    </select>
      <div class="alert alert-danger mt-2 d-none text-capitalize" role="alert" id="error-concept">
         Konsep Acara Wajib terisi.
    </div>
  </div>
  <div class="col">
    <p class="fs-16 text-capitalize mb-2">Tulis nama untuk souvenir costum pulpen</p>
    <input type="text" name="costumPulpen" class="form-control input-outline-purple" id="costumPulpen" placeholder="">
    <div class="alert alert-danger mt-2 d-none text-capitalize" role="alert" id="error-costumPulpen">
        Custom Pulpen Wajib terisi.
   </div>
  </div>
</div>

          </div>
      </div>

    </main>
    <%- include('footerOrder', {btnLeft: false}) %>

    <script src="/javascripts/helper-localstorage.js"></script>
    <script src="/javascripts/helper.js"></script>
    <script src="/javascripts/slider-card.js"></script>
    <script src="/javascripts/card-view.js"></script>
    <script src="/javascripts/control-informasi-acara.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/moment-timezone.js"></script>
     
  <script>
const structurData = {
  package: "",
  minParticipan: "",
  additionCost : 0,
  addParticipan : 0,
  snack : [],
};

localStorage.setItem('data', JSON.stringify(structurData));
</script>

<script>
// Card Control
   const resetBorderCard = (title) =>{
     const cardCheckSnack = document.querySelectorAll(`.card-check-${title}`);
     for (let i = 0; i < cardCheckSnack.length; i++) {
       cardCheckSnack[i].style.border = "1px solid #e5e5e5";
       cardCheckSnack[i].children[0].children[0].children[1].children[0].checked = false;
     }
   }
   const loadViewApi = (data) => {
     document.getElementById('food').innerHTML = viewBtnSlider('food');
     document.getElementById('snack').innerHTML = viewBtnSlider('snack');
     
     if(data.vendors){
       document.getElementById('vendor').innerHTML = `<select class="form-select" aria-label="Default select example" id="vendorItem"></select>`;
        data.vendors.forEach((data, foodIndex)=>{
              document.getElementById('vendorItem').innerHTML += `<option value="${data.id}">${data.name}</option>`;
          });
      data.products.makanan.forEach((data, foodIndex)=>{
              document.getElementById('foodItem').innerHTML += card("radio","food",foodIndex + 1, data);
          });
      data.products.snack.forEach((data, snackIndex)=>{
          document.getElementById('snackItem').innerHTML += card("checkbox","snack",snackIndex + 1, data);
      });
     }else{
       data.makanan.forEach((data, foodIndex)=>{
              document.getElementById('foodItem').innerHTML += card("radio","food",foodIndex + 1, data);
          });
      data.snack.forEach((data, snackIndex)=>{
          document.getElementById('snackItem').innerHTML += card("checkbox","snack",snackIndex + 1, data);
      });
     }
      const maxSnack = document.getElementById("maxSnack");
      maxSnack.innerText = "0" + maxSnack.innerText.substring(1);
      sliderControl("food");
      sliderControl("snack");
      sliderControl("theme");

      resetBorderCard("snack")
      resetBorderCard("food")
      resetBorderCard("theme")
      
      document.getElementById("costumPulpen").value = ""
      document.getElementById("eventConcept").value = "";
      const getDataLs = JSON.parse(localStorage.getItem("data"));
      getDataLs['snack'] = [];
      getDataLs['food'] = "";
      getDataLs['theme'] = "";
      getDataLs['concept'] = "";
      getDataLs['costumPulpen'] = "";
      localStorage.setItem("data", JSON.stringify(getDataLs))

            removeAlert("theme");
            removeAlert("food");
            removeAlert("snack");
            removeAlert("costumPulpen");
            removeAlert("concept");
            removeAlert("location");

   }

   const renderByApi = (position, value) =>{
     const eventInformation = document.getElementById("eventInformation");
      const loadingBar = document.getElementById("loadingBar");
      eventInformation.classList.add("d-none") 
      loadingBar.classList.remove("d-none") 

        setTimeout(async() => {
          const url = position === "location" ? `/api/v1/vendors?location=${value}` : `/api/v1/products/vendors/${value}?filter=makanan`;
          try {
            const getProduct  = await fetch(url);
            const {data} = await getProduct.json();
            eventInformation.classList.remove("d-none")
            loadingBar.classList.add("d-none");
            // load View API
            loadViewApi(data);
            loadViewChecked();
            

          } catch (error) {
            console.log(error);
          }
      }, 1000);
   }

  document.getElementById("location").addEventListener("change", async(e)=>{
    if( e.target.value !== "Tentukan lokasi anda"){
      const positionId = e.target.id; 
      const valueSelected = e.target.value; 
      renderByApi(positionId, valueSelected);
      setLocalStorage("location", e.target.value)
    }else{
      document.getElementById("eventInformation").classList.add("d-none")
      setLocalStorage("location", "")
    }
    validation("location");
  });
  document.getElementById("vendor").addEventListener("change", (e)=>{
    const positionId = e.target.id; 
    const valueSelected = e.target.value; 
    renderByApi(positionId, valueSelected);
    setLocalStorage("vendor", e.target.value)
  })
    </script>

       <script>
         const eventConcept = document.getElementById("eventConcept");
         eventConcept.addEventListener("change", (e)=>{
            if(e.target.value !== ""){
              setLocalStorage('concept', e.target.value)
            }else{
              setLocalStorage('concept', "")
            }
              validation("concept")
         });

        //  CustomPulpen
        const costumPulpen = document.getElementById("costumPulpen");
        costumPulpen.addEventListener('keyup',(e)=>{
          setLocalStorage(e.target.name, e.target.value)
          validation("costumPulpen")
        });

const resetCheckedCard = () =>{
  for (let i = 0; i < cardCheck.length; i++) {
    cardCheck[i].style.border = "1px solid #e5e5e5";
    if(cardCheck[i].children[0].children[0].children[1].children[0].checked){
       cardCheck[i].style.border = "3px solid #7940CC";
    }
  }
}

const checkedCard = (event) =>{
      const productName = event.path[0].name;
      const productId = event.path[0].id;
      const productChecked = event.path[0].checked;
      const maxSnack = document.getElementById("maxSnack");
      const valueMaxSnack = maxSnack.innerText;
      const card = event.path[0].parentElement.parentElement.parentElement.parentElement;
      document.getElementById("error-snack-toolong").classList.add("d-none")
      if (productChecked) {
          if(productName === "snack" && (getLocalStorage("snack").length ) >= parseInt(valueMaxSnack.charAt(2))){
             event.path[0].checked = false;
             document.getElementById("error-snack-toolong").classList.remove("d-none")
             cardCheck[i].style.border = "1px solid #e5e5e5";
          }
          resetCheckedCard();
          if(productName === "snack" ){
            setLocalStorageSnack(productId)
            maxSnack.innerText = `${parseInt(valueMaxSnack.charAt(0))+1}/${valueMaxSnack.charAt(2)}`;
          
          }else{
            setLocalStorage(productName, productId )
          }
          
          validation(productName)
          event.path[0].parentElement.parentElement.parentElement.parentElement.style.border = "3px solid #7940CC"
        }else{
           if(productName === "snack" ){
             maxSnack.innerText = `${parseInt(valueMaxSnack.charAt(0)) - 1}/${valueMaxSnack.charAt(2)}`;
             const snack = getLocalStorage('snack').filter((product)=> product.id !== productId);
             setLocalStorage('snack', snack)
            }else if(productName === "food" || productName === "theme"){
              setLocalStorage(productName, snack );
            }
            // maxSnack.innerText = `${parseInt(valueMaxSnack.charAt(0))-1}/${valueMaxSnack.charAt(2)}`;
           
            resetCheckedCard();
        }
}

 const loadViewChecked = () => {
     const themeCheck = document.getElementsByClassName("theme-check");
          const lengthTheme = themeCheck.length;
         for (let i = 0; i < lengthTheme; i++) {
            themeCheck[i].addEventListener('click', function(event){
              const getName = event.path[0].name;
              cardCheck= document.querySelectorAll(`.card-check-${getName}`);
              checkedCard(event);
            });
         }
   };
         
       </script>
       <script>
         // Btn Next Listener
         const btnNext = document.getElementById("next2");
         btnNext.addEventListener("click", ()=>{
          let error = [];
          let msg = null;
          const date = getLocalStorage("date");
          if(getLocalStorage("location")){
               msg = validation("theme");
               error.push(msg);
               msg = validation("food");
               error.push(msg);
               msg = validation("snack");
               error.push(msg);
               msg = validation("costumPulpen");
               error.push(msg);
               msg = validation("concept");
               error.push(msg);
               msg = validation("location");
               error.push(msg);
               
               msg = date ? true : false;

               const errorDate = document.getElementById("error-date");
               if(date === "" || !date){
                  errorDate.innerText = "Tanggal tidak valid.";
                  error.push(false);
               }else if(errorDate.innerText !== ""){
                  error.push(false);
               }
            document.getElementById("error-snack-toolong").classList.add("d-none")
            const myModal = new bootstrap.Modal(document.getElementById('order1'), {keyboard: false}); 
            if(error.includes(false)){
              myModal.show()
            }else{
              const data = JSON.parse(localStorage.getItem("data"));
                const foodTheme = [
                  {
                    id : data.food,
                    qty: 0,
                  },
                  {
                    id : data.theme,
                    qty: 0,
                  },
                ];

              const finalData = {
                  package: data.package, 
                  totalParticipant: data.minParticipan + data.addParticipan,
                  totalPrice: data.totalPrice + (data.additionCost * (data.addParticipan / 10)),
                  eventAt: data.date,
                  concept: data.concept, 
                  desc: data.costumPulpen,
                  products: foodTheme.concat(data.snack),
                }
              localStorage.setItem("data", JSON.stringify(finalData));
              window.location.href = `http://localhost:3000/orders/step/2?location=${data.location}`;
            } 
          }else{
             validation("location");
              if(date === "" || !date){
                  document.getElementById("error-date").innerText = "Tanggal tidak valid.";
              }
          }
          
});
       </script>

       <script>
// Btn Add Guest & Reduce Guest
addOrReduceGuest();
// Pakage Listener
packageListener();
       </script>
        <script>
        let date = moment().tz("Asia/Jakarta");
        let date2 = moment().tz("Asia/Jakarta");
        let addDate = date.add(30,"days");
        let addOneDate = date2.add(31,"days");
        const getPackage = getLocalStorage("package");

        if(getPackage === "dadakan"){
          addDate = date.add(7,"days");
          addOneDate = date2.add(8,"days");
        }
        const addOneDay = addDate;
        document.getElementById("minDate").innerText = addOneDate.format("DD MMMM YYYY");

        let day = null;
        let month = null;
        let year = null;

        const validasiDate = () =>{
          let text = ""
          const checkDate  = day && month && year;
          const inputDate = `${year}-${month}-${day}`;
          const compareDate =  addDate.isAfter(inputDate);
          console.log(inputDate.includes("Pilih"));
          if(getPackage === "Dadakan"){
                if(inputDate.includes("Pilih") || inputDate.includes("null")){
                    setLocalStorage("date", "")
                }else if(checkDate && compareDate){
                    text = "Pemesanan Tanggal Acara Minimal H+7";
                    setLocalStorage("date", inputDate)                   
                }else{
                    setLocalStorage("date", inputDate)
                }
          }
          if(getPackage === "Silver" || getPackage === "Gold" || getPackage === "Platinum"){
              if(inputDate.includes("Pilih") || inputDate.includes("null")){
                    setLocalStorage("date", "")
               }else if(checkDate && compareDate){
                    text = "Pemesanan Tanggal Acara Minimal H+30";
                    setLocalStorage("date", inputDate)
               }else{
                    setLocalStorage("date", inputDate)
               }
          }
          
          document.getElementById("error-date").innerText = text;
        }

        document.getElementById("day").addEventListener("change", (e)=>{
          day = e.target.value;
            validasiDate();
         } );
        document.getElementById("month").addEventListener("change", (e)=>{
          month = e.target.value;
            validasiDate();
        });
        document.getElementById("year").addEventListener("change", (e)=>{
          year = e.target.value;
            validasiDate();
        });
      </script>
 

    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
