<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
<style>
    .slide-show-ari{
        flex-wrap: nowrap !important;
        overflow: auto hidden !important;
        overflow-x: hidden !important;
        white-space: nowrap;
        transition: all 0.5s ease 0s !important;
        position: relative !important;
    }
    .slide-show-control{
        position: absolute;
        z-index: 2000;
        top: 54%;
        left: -1%;
        display: flex;
        width: 102%;
        justify-content: space-between;
    }
</style>
  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main >
      <p class="mt-5">test</p>
      <div class="container-fluid" id="orderStep1" >
        <div class="row justify-content-center">
          <div class="col-10 bg-neutral-10 px-5  py-5 rounded-3">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center">informasi acara</h1>
            <div class="row mt-5">
              <div class="col">
                <p>pilih lokasi</p>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col ">
                <p>tanggal diselenggarakan acara</p>
                <div class="row">
                  <div class="col-3">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                  <div class="col-6">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                  <div class="col-3">
                     <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p>paket yang dipilih</p>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col">
                <p>tambahana jumlah tamu</p>
               
                <div class="row align-items-center">

                  <div class="col">
                <div class="d-flex">
                  <button type="button" class="btn btn-outline-purple text-purple-main">-</button>
                  <input type="email" class="mx-2 w-25 text-center text-purple-main" disabled  placeholder="0">
                  <button type="button" class="btn btn-outline-purple text-purple-main ">+</button>
                </div>

                  </div>
                  <div class="col">
                  <div class="">total tamu undangan 30</div>

                  </div>

                </div>
                  
              </div>
            </div>
          </div>
        </div>

          <div style=" margin-bottom: 100px;" class="row justify-content-center mt-4">
              <div  class="col-10 position-relative  bg-neutral-10 text-center px-5 py-5 rounded-3">
                  <h1 class="text-capitalize text-neutral-100 fw-bold fs-24">detail acara</h1>
                  <div class="row">
                    <div class="col-12 position-relative">

                      <!-- Food -->
                  <div class="food" id="food"></div>
                      <!-- Food -->
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-12 position-relative">

                      <!-- Food -->
                  <div class="snack" id="snack"></div>
                      <!-- Food -->
                    </div>
                  </div>
                
<!-- Themes -->
<div class="row mt-5">
  <div class="col-12 position-relative">
        <div class="themes" >
                      <p class="text-neutral-90 text-start fs-18 fw-bold text-capitalize">Pilih tema acara</p>
                      <%
                        const themes = [
                            {
                                name: "custom tema",
                                img: "customtheme.png"
                            },
                            {
                                name: "colorful",
                                img: "colorfultheme.png"
                            },
                            {
                                name: "gold & white",
                                img: "goldwhitetheme.png"
                            },
                            {
                                name: "Monokrom",
                                img: "Monokromtheme.png"
                            },
                            {
                                name: "Halloween",
                                img: "Halloweentheme.png"
                            },
                            {
                                name: "custom tema",
                                img: "customtheme.png"
                            },
                            {
                                name: "colorful",
                                img: "colorfultheme.png"
                            },
                            {
                                name: "gold & white",
                                img: "goldwhitetheme.png"
                            },
                            {
                                name: "Monokrom",
                                img: "Monokromtheme.png"
                            },
                            {
                                name: "Halloween",
                                img: "Halloweentheme.png"
                            },
                        ];

                        const lengthThemes = themes.length; 
                      %>

        <div class="slide-show-control">
             <button id="btnLefttheme" class=" fs-18 btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
             <button id="btnRighttheme" class=" fs-18 btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
        </div>
                
        <div class="slide-show-ari">
        <% themes.forEach((data, i)=>{ %>
        <% let themeId = i + 1; %>
       <div style="width: 19.6%; box-sizing: border-box;" class="slide-show-item-theme px-1 d-inline-block <%= themeId === 1 ? "pivottheme": ""%>" id="theme<%=themeId%>">
                <div class="card ">
                  <div class="card-header bg-white">
                    <div class="row my-1">
                      <div class="col-10"><label for="test" class="text-capitalize fw-bold text-neutral-100 fs-18"><%= data.name %></label></div>
                      <div class="col-2">
                        <input class="form-check-input" type="radio" name="radioNoLabel" id="test" value="" aria-label="..."/>
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <img class="w-100" src="images/default/<%= data.img%>" alt=""/>
                           <!-- <p class="w-100 text-start" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.</p> -->
                  </div>
                </div>
           </div>
      <% });  %>

        </div>

        <p class="text-muted text-purple-main text-start mt-3">*untuk kustom tema acara bisa di diskusikan lebih lanjut melalui Whatsapp pada Halaman Detail pesanan</p>
              </div>
  </div>
</div>


<div class="row text-start mt-3">
  <div class="col">
    <p>Bagaimana konsep acara anda?</p>
    <select class="form-select" aria-label="Default select example">
      <option selected>Indoor</option>
      <option value="1">Outdoor</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="col">
    <p>Tulis nama untuk souvenir costum pulpen</p>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
</div>

          </div>
      </div>

    </main>
    <footer>
      <div class="footer  position-fixed bottom-0 w-100 shadow-lg">
      <!-- <div class="footer  container-fluid bg-neutral-10"> -->
        <div class="bg-white">
          <div class="row align-items-center justify-content-around">
            <div class="col-2">
              <button type="button" class="btn btn-outline-purple  w-100"  >Selanjutnya</button>
            </div>
            <div class="col-7 text-center">
              <p class="mb-1 mt-2">total (1 paket)</p>
              <p class="fs-18">25.000.000</p>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="btn w-100 text-white btn-purple" >sebelumnya</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script>

    //   Themes
           function themesControl(title) {
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const sortingId = parseInt(pivot.charAt(pivot.length - 1))
          const dataLength = document.querySelectorAll(`.slide-show-item-${title}`).length 
          const totalItemShow = 5;
          
          
          const btnLeft = document.getElementById(`btnLeft${title}`);
          const btnRight = document.getElementById(`btnRight${title}`);

          if(sortingId === 1){
             btnLeft.style.visibility = 'hidden';
           }

         btnRight.addEventListener('click', ()=>{
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const getData = parseInt(pivot.charAt(pivot.length - 1))
          const pivotBreak = dataLength - totalItemShow + 1; 
          const hitung = (getData  > pivotBreak) ? pivotBreak : getData;

          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`${title+i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`${title+i}`).style.transition = "all 1s ease 0s";
           }
           const addPivot = getData+1;
             if(getData  <= pivotBreak){
               document.getElementById(pivot).classList.remove(`${"pivot"+title}`)
               document.getElementById(`${title+addPivot}`).classList.add(`${"pivot"+title}`)
             }
            
             if (addPivot !== 1) {
                btnLeft.style.visibility = 'visible';
            }

             if (addPivot === pivotBreak) {
                btnRight.style.visibility = 'hidden';
            }
          })
          
         btnLeft.addEventListener('click', ()=>{
          const pivot = document.querySelector(`.${"pivot"+title}`).id;
          const getData = parseInt(pivot.charAt(pivot.length - 1))
          const hitung =  getData - 2 ;
          const rubah = getData - 1;
          for (let i = 1; i <= dataLength; i++) {
             document.getElementById(`${title+i}`).style.transform = `translate(-${hitung * 104}%, 0%)`;
             document.getElementById(`${title+i}`).style.transition = "all 1s ease 0s";
           }
             if(getData > 1){
             document.getElementById(pivot).classList.remove(`${"pivot"+title}`)
             document.getElementById(`${title+rubah}`).classList.add(`${"pivot"+title}`)
             }
            if (rubah !== 1) {
             btnRight.style.visibility = 'visible';
            }
             if (rubah === 1) {
             btnLeft.style.visibility = 'hidden';
            }
          });
          }

          const dataBE = {
            vendors : [],
            makanan : [
                {
                    id:1,
                    name: 'nasi goreng',
                    photo: "nasigoreng.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:2,
                    name: 'nasi kuning',
                    photo: "nasikuning.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:3,
                    name: 'nasi uduk',
                    photo: "nasiuduk.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:4,
                    name: 'mie seafood',
                    photo: "mieseafood.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:5,
                    name: 'soto mie',
                    photo: "sotomie.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:6,
                    name: 'nasi goreng',
                    photo: "nasigoreng.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:7,
                    name: 'nasi kuning',
                    photo: "nasikuning.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:8,
                    name: 'nasi uduk',
                    photo: "nasiuduk.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:9,
                    name: 'mie seafood',
                    photo: "mieseafood.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
                {
                    id:10,
                    name: 'soto mie',
                    photo: "sotomie.png",
                    desc:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora ipsa odio deserunt officiis sit dolorem earum rerum obcaecati at, aperiam, tenetur, quibusdam laborum sapiente quaerat magnam ea dolor ullam.",
                },
        ],
        snack : [
           {
                    id:1,
                    name: 'sus vla',
                    photo: "susvla.png",
                    desc:"",
                },
                {
                    id:2,
                    name: 'brownies',
                    photo: "brownies.png",
                    desc:"",
                },
                {
                    id:3,
                    name: 'risoles',
                    photo: "risoles.png",
                    desc:"",
                },
                {
                    id:4,
                    name: 'pastel',
                    photo: "pastel.png",
                    desc:"",
                },
                {
                    id:5,
                    name: 'mini sandwich',
                    photo: "minisandwich.png",
                    desc:"",
                },
                {
                    id:6,
                    name: 'nasi goreng',
                    photo: "nasigoreng.png",
                    desc:"",
                },
                {
                    id:7,
                    name: 'nasi kuning',
                    photo: "nasikuning.png",
                    desc:"",
                },
                {
                    id:8,
                    name: 'nasi uduk',
                    photo: "nasiuduk.png",
                    desc:"",
                },
                {
                    id:9,
                    name: 'mie seafood',
                    photo: "mieseafood.png",
                    desc:"",
                },
                {
                    id:10,
                    name: 'soto mie',
                    photo: "sotomie.png",
                    desc:"",
                },
        ]
          };

         const cardControl = (title, customTitle) =>{
           return `
           <p class="text-neutral-90 text-start fs-18 fw-bold text-capitalize">Pilih ${customTitle}</p>
            <div class="slide-show-control">
                <button id="btnLeft${title}" class=" fs-18 btn text-start bg-neutral-10 shadow  rounded-circle"><i class="bi bi-chevron-left"></i></button>
                <button id="btnRight${title}" class=" fs-18 btn text-end bg-neutral-10 shadow rounded-circle  top-0 left-0"><i class="bi bi-chevron-right"></i></button>
             </div>
             <div class="slide-show-ari"  id="${title}Item"></div>
                      `
          }
          const card = (type, title,themeId, data)=>{
            return `
             <div style="width: 19.6%; box-sizing: border-box;" class="slide-show-item-${title} px-1 d-inline-block  ${themeId === 1 ? `pivot${title}`: ""}" id="${title+themeId}" >
                <div class="card ">
                  <div class="card-header bg-white">
                    <div class="row my-1">
                      <div class="col-10"><label for="test" class="text-capitalize fw-bold text-neutral-100 fs-18">${data.name}</label></div>
                      <div class="col-2">
                      ${type === "radio" ? `<input class="form-check-input" type="radio" name="radioNoLabel" id="test" value="" aria-label="..."/>`: `<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">`}
                        
                      </div>
                    </div>
                 </div>
                  <div class="card-body p-0" style="white-space: initial;">
                           <img class="w-100" src="images/default/${data.photo}" alt=""/>
                           ${data.desc ? `<p class="w-100" > ${data.desc} </p>`:""}
                  </div>
                </div>
           </div>`;
          }

          document.getElementById('food').innerHTML = cardControl('food', "menu utama");
          document.getElementById('snack').innerHTML = cardControl('snack', "jenis snack");
          dataBE.makanan.forEach((data, i)=>{
          let themeId = i+1
          document.getElementById('foodItem').innerHTML += card("radio","food",themeId, data);
          })
          dataBE.snack.forEach((data, i)=>{
          let themeId = i+1
          document.getElementById('snackItem').innerHTML += card("checkbox","snack",themeId, data);
          })

          themesControl("food");
          themesControl("snack");
          themesControl("theme");

       </script>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
