<!DOCTYPE html>
<html lang="en">
<html>
  <%- include('../partials/head.ejs', {title: 'Home'}) %>
<style>
    .slide-show-ari{
        flex-wrap: nowrap !important;
        overflow: auto hidden !important;
        overflow-x: hidden !important;
        white-space: nowrap;
        transition: all 0.5s ease 0s !important;
        position: relative !important;
    }
    .slide-show-control{
        position: absolute;
        z-index: 1;
        top: 54%;
        left: -1%;
        display: flex;
        width: 102%;
        justify-content: space-between;
    }
</style>
  <body class="p-0" style="background-color:  #E5E5E5;">
    <header>
      <!-- Swita taruh sini -->
       <%- include('../partials/navbar.ejs') %>
       <%- include('login')%> 
    </header>
    <main>
      <div class="container-fluid mt-5 pt-3">
        <div class="row justify-content-center ">
          <div class="col-10 bg-neutral-10 px-5  py-5 rounded-3">
            <h1 class="text-capitalize text-neutral-100 fw-bold fs-24 text-center">informasi acara</h1>

           <%
                            const themes = [
                                {   
                                    id: "1",
                                    name: "custom tema",
                                    photo: "customtheme.png",
                                    price: 10000,
                                    stock: 10,
                                },
                                {
                                    id: "2",
                                    name: "colorful",
                                    photo: "colorfultheme.png",
                                    price: 20000,
                                    stock: 10,
                                },
                                {
                                    id: "3",
                                    name: "gold & white",
                                    photo: "goldwhitetheme.png",
                                    price: 40000,
                                    stock: 10,
                                },
                                {
                                    id: "4",
                                    name: "Monokrom",
                                    photo: "Monokromtheme.png",
                                    price: 70000,
                                    stock: 10,
                                },
                                {
                                    id: "5",
                                    name: "Halloween",
                                    photo: "Halloweentheme.png",
                                    price: 26000,
                                    stock: 10,
                                },
                                {
                                    id: "6",
                                    name: "custom tema",
                                    photo: "customtheme.png",
                                     price: 90000,
                                     stock: 10,
                                },
                                {
                                    id: "7",
                                    name: "colorful",
                                    photo: "colorfultheme.png",
                                     price: 20000,
                                     stock: 10,
                                },
                                {
                                    id: "8",
                                    name: "gold & white",
                                    photo: "goldwhitetheme.png",
                                     price: 80000,
                                     stock: 10,
                                },
                                {
                                    id: "9",
                                    name: "Monokrom",
                                    photo: "Monokromtheme.png",
                                     price: 20000,
                                     stock: 10,
                                },
                                {
                                    id: "10",
                                    name: "Halloween",
                                    photo: "Halloweentheme.png",
                                     price: 20000,
                                     stock: 10,
                                }
                            ];
                            %>
                <%- include('cardStep2.ejs', {id: "talent",title: "Talent", datas: themes, isCalculator: false}) %>
                <%- include('cardStep2.ejs', {id: "airConditioner",title: "Pendingin Udara", datas: themes, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "chair",title: "Kursi", datas: themes, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "table",title: "Meja", datas: themes, isCalculator: true}) %>
                <%- include('cardStep2.ejs', {id: "tent",title: "Tenda", datas: themes, isCalculator: true}) %>

                
            </div>
        </div>
      </div><footer>
      <div class="footer  position-fixed bottom-0 w-100 shadow-lg">
      <!-- <div class="footer  container-fluid bg-neutral-10"> -->
        <div class="bg-white">
          <div class="row align-items-center justify-content-around">
            <div class="col-2">
              <button type="button" class="btn btn-outline-purple  w-100" id="previous" >Sebelumnya</button>
            </div>
            <div class="col-7 text-center">
              <p class="mb-1 mt-2">total (1 paket)</p>
              <p class="fs-18" id="totalPrice">25.000.000</p>
            </div>
            <div class="col-2 text-end">
              <button type="button" class="btn w-100 text-white btn-purple" id="next" >Selanjutnya</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
<script src="/javascripts/order.js"></script>
      
<script>
    

            
slideControl("talent");
slideControl("airConditioner");
slideControl("table");
slideControl("tent");
slideControl("chair");



// SlideControle End

const calculatorCard = (event) =>{
     if(event.innerText === "+")
     {
        let getValue = event.parentElement.parentElement.children[4];
        let result = event.parentElement.children[1];
        result.value = parseInt(result.value) + 1;
        getValue.innerText =  formatRupiah(String(result.value * parseInt(getValue.id)))
        const getChecked = event.parentElement.parentElement.parentElement.children[0].children[0].children[1].children[0].checked;
        if(getChecked){
            const totalPrice = getLocalStorage("totalPrice") + parseInt(getValue.id);
            document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
            setLocalStorage('totalPrice', totalPrice )
        }
    }

    if(event.innerText === "-")
    {
        let getValue = event.parentElement.parentElement.children[4];
        let result = event.parentElement.children[1];
        let total = parseInt(result.value) - 1;
        if(total >= 0){
            result.value = total;
            getValue.innerText =  formatRupiah(String( result.value * formatInteger(getValue.id)))
        }
        const getChecked = event.parentElement.parentElement.parentElement.children[0].children[0].children[1].children[0];
        if(getChecked.checked && total >= 0){
            const totalPrice = getLocalStorage("totalPrice") - parseInt(getValue.id);
            document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
            setLocalStorage('totalPrice', totalPrice )
        }
        // if(total === 0){
        //     event.parentElement.parentElement.parentElement.style.border = "1px solid #e5e5e5";
        //     getChecked.checked = false;
        // }
    }
}

const checkedCard = (event) =>{
    const getName = event.name;
    let cardCheck= document.querySelectorAll(`.card-check-${getName}`);
    
         const getPrice = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[4]?.id
         const getItem = event.parentElement.parentElement.parentElement.parentElement?.children[1]?.children[3]?.children[1].value
         if (event.checked) {
         const totalPrice = getLocalStorage("totalPrice") + (parseInt(getPrice) * getItem) 
         if(totalPrice){
              document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
              setLocalStorage('totalPrice', totalPrice )
         }

                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5";
                     if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }
              }

              switch (getName) {
                  case "airConditioner": 
                                airConditioner.push(event.id)
                                setLocalStorage(getName, airConditioner )
                        break;
                  case "chair": 
                                chair.push(event.id)
                                setLocalStorage(getName, chair )
                        break;
                  case "table": 
                                table.push(event.id)
                                setLocalStorage(getName, table )
                        break;
                  case "tent": 
                                tent.push(event.id)
                                setLocalStorage(getName, tent )
                        break;
                  case "talent": 
                                talent.push(event.id)
                                const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                                const totalPrice = getLocalStorage("totalPrice") + parseInt(talentCost);
                                setLocalStorage(getName, talent )
                                setLocalStorage('totalPrice', totalPrice )
                                document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)

                        break;
                  default:
                      break;
              }
                
                event.parentElement.parentElement.parentElement.parentElement.style.border = "3px solid #7940CC"
                 
               }else{
                 const totalPrice = getLocalStorage("totalPrice") - (parseInt(getPrice) * getItem) 
                 if(totalPrice){
                     document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                    setLocalStorage('totalPrice', totalPrice )
                }


                   switch (getName) {
                  case "airConditioner": 
                                airConditioner = airConditioner.filter((data)=> data !== event.id)
                                setLocalStorage(getName, airConditioner )
                        break;
                  case "chair": 
                                chair = chair.filter((data)=> data !== event.id)
                                setLocalStorage(getName, chair )
                        break;
                  case "table": 
                                table = table.filter((data)=> data !== event.id)
                                setLocalStorage(getName, table )
                        break;
                  case "tent": 
                                tent = tent.filter((data)=> data !== event.id)
                                setLocalStorage(getName, tent )
                        break;
                  case "talent": 
                                talent = talent.filter((data)=> data !== event.id)
                                const talentCost = event.parentElement.parentElement.parentElement.parentElement.children[1].children[1].id;
                                const totalPrice = getLocalStorage("totalPrice") - parseInt(talentCost);
                                setLocalStorage(getName, talent )
                                setLocalStorage('totalPrice', totalPrice )
                                document.getElementById("totalPrice").innerText = formatRupiah(totalPrice)
                        break;
                  default:
                      break;
                   }
                 for (let ab = 0; ab < cardCheck.length; ab++) {
                     cardCheck[ab].style.border = "1px solid #e5e5e5"; 
                      if(cardCheck[ab].children[0].children[0].children[1].children[0].checked){
                       cardCheck[ab].style.border = "3px solid #7940CC";
                     }              
              }
               }
}

   const checkItem = document.getElementsByClassName("check-item");
          const lengthCheckItem = checkItem.length;

          let talent = [];
          let airConditioner = [];
          let chair = [];
          let table = [];
          let tent = [];
         for (let i = 0; i < lengthCheckItem; i++) {
            checkItem[i].addEventListener('click', function(event){
                
              calculatorCard(event.path[0]);
              checkedCard(event.path[0]);
            });
         }


</script>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>
