 <!-- packages -->
           <%
        const formatRupiah = (numb) =>{
          const format = numb.toString().split('').reverse().join('');
          const convert = format.match(/\d{1,3}/g);
          const rupiah = 'Rp ' + convert.join('.').split('').reverse().join('')
          return rupiah;
        }
        %>
        <div id="packages">
         <div class="container pt-3">
           <div class="pt-5 text-capitalize text-center">
            <div class="row justify-content-center">
              <div class="col-7 my-3">
                 <h1 class="mt-5 fs-36">Paket yang ditawarkan</h1>
                 <p class="text-muted ">Sebagai Event Organizer andal, kami mengetahui apa dan dimana sumber daya terbaik berada. Kami bisa membantu kamu mencari ide terbaik dan mendapatkan vendor yang profesional.</p>
              </div>
              <div class="col-12 mt-3 mb-5">
                <div class="d-flex align-items-center">
                  <% packages.map((package, i)=>{ %>
                  <div class="card w-100 mx-3 px-1 h-100 <%= package.name === "Dadakan" ? "package-active":""%>" id="cardTest<%= i%>">
                    <div class="card-body">
                      <h1 class="mt-2 mb-3 text-start fs-18 text-purple-main"><%= "Paket "+ package.name %></h1>
                      <%if(package.name === "Dadakan"){%>
                      <p class="text-neutral-80 text-start">
                        Khusus pemesanan acara maksimal 7 hari sebelum (H-7)
                      </p>
                      <%}%>
                      <p class="fs-24 fw-bold"><%= formatRupiah(package.price) %></p>
                      <% package.features.map((feature)=>{ %>
                          <div class="row fs-14 text-start">
                            <div class="col-1">
                              <i class="bi bi-check-circle text-purple-main"></i> 
                            </div>
                            <div class="col-10">
                               <p class="text-start text-neutral-80"><%= feature %></p>
                            </div>
                            </div>
                       <%})%>
                      <% if(user){%>
                         <a href="/orders/step/1?package=<%= package.name %>">
                        <button type="button" class="btn  <%= package.name === "Dadakan" ? "btn-purple text-white":"btn-outline-purple text-purple-main"%>">
                        <i class="bi bi-cart3  <%= package.name === "Dadakan" ? "text-white":"text-purple-main "%>"></i> 
                        Pilih Paket
                        </button>
                        </a>
                      <%}else{%>
                          <button type="button" class="btn  <%= package.name === "Dadakan" ? "btn-purple text-white":"btn-outline-purple text-purple-main"%>" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <i class="bi bi-cart3  <%= package.name === "Dadakan" ? "text-white":"text-purple-main "%>"></i> 
                          Pilih Paket
                          </button>
                      <%}%>
                    </div>
                  </div>
                <%})%>
                </div>  
              </div>

              <div class="col-12 text-center mb-5">
                <p class="mb-5">
                  Pemesanan paket sesuai dengan <span class="text-purple-main">Syarat dan Ketentuan</span> yang berlaku
                </p>
              </div>
            </div>
           </div>
         </div>
        </div>