<!-- template buat di halaman request reset password -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Reset Password'}) %>
  <body>
    <header>
  <%- include('../partials/navbar.ejs') %>
  <%- include('login') %> 
  <%- include('register') %> 
   </header>   
   <form action="/request-reset-password" method="POST" id="resetemail" class="needs-validation" >
      <div class="resetemail position-absolute top-50 start-50 translate-middle">
        <h5>Reset password</h5>
        <p>Masukkan email yang terdaftar. Kami akan mengirimkan tautan untuk mengatur ulang kata sandi anda.</p>
        <label for="email" class=" form-pass">Email</label>
        
        <input type="email" class="form-control pass-control" name="email" id="email" placeholder="Masukan Email" required/>
        <div class="invalid-feedback">Please fill out this field.</div>
       
      
        <button class="btn-pass " type="submit"><p>Kirim Email</p></button>
      </div>
      </form>
      
      <%- include('../partials/scripts.ejs') %>
</body>
</html>