<!-- template buat di halaman request reset password -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Reset Password'}) %>
  <body>
    <header>
  <%- include('../partials/navbar.ejs') %>
  <%- include('login') %> 
  <%- include('register') %> 
   </header>   
   <form action="/request-reset-password" method="POST" id="resetemail" class="needs-validation <%= error.length!==0?'was-validated':''%>" novalidate>
      <div class="resetemail position-absolute top-50 start-50 translate-middle">
        <h5>Reset Password</h5>
        <p>Masukkan email yang terdaftar. Kami akan mengirimkan tautan untuk mengatur ulang kata sandi anda.</p>
        <label for="email" class=" form-pass">Email</label>     
        <input type="email" class="form-control pass-control" name="email" id="email" placeholder="Masukan Email" required/>
        <div class="invalid-feedback"><%= error[0]?.email || "Email Tidak Boleh Kosong !" %> </div>
      
        <button class="btn-pass " type="submit"><p>Kirim Email</p></button>
      </div>
      </form>
      
      <%- include('../partials/scripts.ejs') %>
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
})()
      </script>
</body>
</html>