<!DOCTYPE html>
<html lang="en">
<html>
<%- include('../partials/head.ejs', {title: 'Terms and Condition' }) %>

  <body class="p-0 bg-neutral-20">
    <header>
      <!-- Swita taruh sini -->
      <%- include('../partials/navbar.ejs') %>
        <%- include('login')%>
        <%- include('register')%>
    </header>
<div class="tnc-header">
  <div class="row text-center justify-content-center pt-5">
    <div class="col-10">
      <h1 class="fs-36 fw-600 mb-3 tnc-header-title">Terms and Condition</h1>
      <p class="fs-18 fw-500 text-neutral-80 tnc-header-paragraph">Ketika Anda memilih untuk memakai jasa kami, pembelian tunduk pada syarat dan ketentuan berikut. Kami menyarankan Anda untuk membaca ketentuan ini dengan cermat sebelum memesan. Karena setelah Anda melakukan pemesanan, Anda juga telah menyetujui semua hal berikut.</p>
    </div>
  </div>
  
</div>


<div class="container tnc-main bg-neutral-10">
  <div class="row">
    <div class="col">
      <div>
        <h4 class="fs-24 tnc-main-title">Situs dan Konten</h4>
        <ol class="fs-18 tnc-main-chapter">
          <li>Konten dan isi pada Website Eventprise merupakan informasi umum dan dapat digunakan untuk menyebarkan informasi mengenai penyelenggaraan sebuah acara baik yang diselenggarakan oleh klien, EO dan/atau penyelenggara.</li>
          <li>Setiap orang yang mengakses website ini setuju dan mengizinkan untuk penggunaan cookie termasuk penggunaan dan/atau akses informasi lainnya yang dihasilkan dari penggunaan cookie tersebut.</li>
          <li>Klien, EO maupun penyelenggara dengan ini menjamin dan menyatakan bahwa seluruh informasi (termasuk penempatan logo, foto, judul kegiatan,dll), kegiatan dan/atau acara yang hendak dilaksanakan telah sesuai dan tidak dilarang dan/atau melanggar ketertiban umum, maupun peraturan perundang-undangan yang berlaku.</li>
          <li>Segala bentuk diskusi terkait perencanaan dan pelaksanaan acara dapat dilakukan melalui Whatsapp.</li>
          <li>Kerugian yang diakibatkan dari kesalahan pemberian informasi, maka pihak pemberi informasi wajib bertanggung jawab penuh dan dengan ini membebaskan dari segala tuntutan ganti rugi dari pihak manapun.</li>
        </ol>
      </div>
      <div>
        <h4 class="fs-24 tnc-main-title">Ketentuan Pengguna</h4>
        <ol class="fs-18 tnc-main-chapter">
          <li>Sepakat bahwa Anda bertanggung jawab secara penuh dan berkewajiban atas kerahasian Login ID, Password dan Email Anda sehubungan dengan penggunaan Website Eventprise. Oleh karena itu, Anda:
            <ol type="a">
              <li>Tidak diperkenankan untuk menggunakan password yang sudah umum dan mudah diketahui orang lain;</li>
              <li>Tidak diperkenankan untuk memberitahukan atau mengalihkan informasi registrasi kepada pihak lain dan menjaganya tetap rahasia; dan</li>
              <li>Tidak diperkenankan untuk menyimpan informasi registrasi dalam telepon seluler atau sarana penyimpanan lain yang memungkinkan diketahui orang lain.</li>
            </ol>
          </li>
          <li id="privacy">Apabila Anda menyadari adanya akses ilegal terhadap informasi registrasi atau akun Eventprise Anda, maka Anda berkewajiban untuk memberitahukan kepada kami dengan segera memberikan Email pemberitahuan ke eventprise@gmail.com. Untuk menghindari keragu-raguan, pemberitahuan tersebut tidak membuat kami bertanggung jawab atas segala bentuk penyalahgunaan informasi rahasia atau akun Eventprise Anda akibat adanya akses ilegal.</li>
        </ol>
      </div>
      <div>
        <h4 class="fs-24 tnc-main-title">Privasi</h4>
        <ol class="fs-18 tnc-main-chapter">
          <li>Setiap informasi pribadi yang Anda berikan kepada kami, termasuk nama, alamat, nomor telepon, dan alamat email Anda, tidak akan dirilis atau dijual kepada entitas atau individu mana pun di luar Website Eventprise.</li>
          <li>Pihak Eventprise tidak mengumpulkan atau merekam detail data pribadi pada sistem pembayaran atau apa pun yang Anda berikan saat melakukan pembelian dari Website Eventprise. </li>
        </ol>
      </div>
      <div>
        <h4 class="fs-24 tnc-main-title">Pelaksanaan Acara</h4>
        <ol class="fs-18 tnc-main-chapter">
          <li>Perubahan jadwal kegiatan baik oleh klien, EO dan/atau penyelenggara merupakan kewanenagan masing-masing pihak dan pihak yang hendak mengubah diberikan wewenang untuk melakukan perubahan dengan menghubungi pihak Eventprise melalui Whatsapp. Eventprise tidak bertanggung jawab atas kerugian apapun yang diakibatkan oleh klien atas kesalahan informasi dan/atau hal semacamnya.</li>
          <li>Eventprise berhak tanpa tanggung jawab apapun, menolak, mengabaikan, menunda atau mengeleminasi atau menghentikan kegiatan dengan alasan apapun setiap saat dari kegiatan dan/atau jadwal acara klien, dengan pemberitahuan kepada klien apabila melanggar ketentuan yang diatur dalam Syarat dan Ketentuan Pengguna dan/atau berdasarkan permintaan dari EO dan/atau penyelenggara.</li>
          <li>Pengguna, EO dan penyelenggara wajib memastikan telah mendapatkan izin dari instansi yang berwenang dalam hal pelaksanaan kegiatan. Oleh karenanya kelalaian dari salah satu pihak dalam mengurus perizinan bukan merupakan tanggung jawab Eventprise, serta dengan ini membebaskan Eventprise dari tuntutan apapun dan dari pihak manapun.</li>
          <li>Dalam hal terjadi pembatalan kesepakatan oleh talent atau otoritas yang berwenang atau pihak lain karena alasan yang berada di luar kendali atau kehendak Penyelenggara dan Eventprise, maka klien setuju untuk secara hukum melepaskan kami dari klaim apapun terkait pembatalan.</li>
        </ol>
      </div>
      <div>
        <h4 class="fs-24 tnc-main-title">Detail dan Prosedur Pembayaran</h4>
        <ol class="fs-18 tnc-main-chapter">
          <li>Eventprise tidak memungut pajak dan retribusi. Jika ada biaya pajak yang harus dibayarkan akan ditanggung oleh klien.</li>
          <li>Batas waktu pembayaran dan detail cara pembayaran akan ditampilkan pada website setelah Anda menyelesaikan proses pemesanan. Semua pemesanan yang tidak dilunasi sebelum batas waktu pembayaran akan dibatalkan secara otomatis oleh sistem.</li>
          <li>Anda dapat menyelesaikan pembayaran sesuai total yang ditampilkan pada website dengan mengupload bukti pembayaran dan selanjutnya akan diverifikasi oleh admin.</li>
          <li>Setelah bukti pembayaran terverifikasi, Anda akan menerima bukti transaksi dan detail pesanan dapat dilihat pada halaman Pesanan Saya.</li>
        </ol>
      </div>
      <div>
        <h4 class="fs-24 tnc-main-title">Pembatalan Pemesanan dan Pengembalian Dana</h4>
        <ol class="fs-18 tnc-main-chapter mb-0">
          <li>Eventprise berhak untuk tidak menerima pemesanan atau melakukan pembatalan yang telah terkonfirmasi atas pertimbangan kami dan karena alasan hukum apapun tanpa perlu menjelaskan penolakan/pembatalan tersebut. </li>
          <li>Pesanan terkonfirmasi yang dibatalkan oleh Eventprise, maka pembayaran yang telah dilakukan akan diterima oleh klien. Eventprise berhak untuk menempatkan atau mendaftarkan pengguna yang bersangkutan di dalam daftar hitam untuk mencegahnya bertransaksi untuk sementara waktu atau jangka panjang.</li>
          <li>Pesanan terkonfirmasi yang dibatalkan oleh klien, maka:
            <ol type="a">
              <li>Pembatalan yang dilakukan maksimal 14 hari sebelum diselenggarakannya acara, maka transaksi yang telah dilakukan akan dikembalikan sebesar 70% dari total pembayaran. </li>
              <li>Jika pembatalan dilakukan dalam waktu 14 hari menjelang diselenggarakannya acara, maka transaksi yang telah dilakukan tidak dapat dikembalikan.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>  
</div>

    <footer>
      <%- include('footerLandingPage')%>
    </footer>
    <%- include('../partials/scripts.ejs') %>
  </body>
</html>